/* main application CSS styles */

@import url("../node_modules/dijit/themes/tundra/tundra.css");
@import url("../node_modules/dgrid/css/dgrid.css");

@import url("main.css");
@import url("dojobase.css");
@import url("sequence.css");
@import url("protein.css");
@import url("menubar.css");
@import url("toolbar.css");
@import url("icons.css");
@import url("tristate.css");
@import url("file_dialog.css");
@import url("combination_tracks.css");
@import url("export_dialog.css");

/* CSS styles for the various types of feature glyphs */
@import url("track_styles.css");
@import url("hierarchical_track_selector.css");
@import url("faceted_track_selector.css");


/* CSS styles specifically for MAKER output */
@import url("maker.css");
