
/* base CSS environment, with dojo and some resetting */
.jbrowse, .dijitDialog, .dijitMenu {
    color: black;
    background: white;
    font-size: 12px;
    font-family: Univers,Trebuchet MS,Helvetica,Arial,sans-serif;

    table, tbody, th, tr, td {
        background: none;
        color: inherit;
    }
    tr, td, table {
        margin: 0;
        border: 0;
        padding: 0;
        line-height: normal;
    }
    label {
        font-weight: inherit;
    }

    @import "../node_modules/dijit/themes/tundra/tundra.css";
    @import "../node_modules/dgrid/css/dgrid.css";
    @import "dojobase";
    @import "icons";
}

.dijitDialog {
    line-height: 17px;

    @import "dialog";
    @import "export_dialog";
    @import "file_dialog";
    @import "main";
}

/* main application CSS styles */
.jbrowse {
    line-height: 1;
    &.dijitDialog {
        line-height: 17px;
    }

    @import "main";

    @import "track_styles";
    @import "sequence";
    @import "protein";
    @import "menubar";
    @import "toolbar";
    @import "icons";
    @import "tristate";
    @import "combination_tracks";

    /* CSS styles for the various types of feature glyphs */
    @import "hierarchical_track_selector";
    @import "faceted_track_selector";

    /* CSS styles specifically for MAKER output */
    @import "maker";
}

