html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
}

.jbrowse {/* main application CSS styles */
    font-size: 12px;
    font-family: Univers,Trebuchet MS,Helvetica,Arial,sans-serif;

    @import "../node_modules/dijit/themes/tundra/tundra.css";
    @import "../node_modules/dgrid/css/dgrid.css";
    @import "dojobase";
    @import "main";
    @import "sequence";
    @import "protein";
    @import "menubar";
    @import "toolbar";
    @import "icons";
    @import "tristate";
    @import "combination_tracks";

    /* CSS styles for the various types of feature glyphs */
    @import "track_styles";
    @import "hierarchical_track_selector";
    @import "faceted_track_selector";


    /* CSS styles specifically for MAKER output */
    @import "maker";
}

.dijitDialog {
    font-size: 12px;
    font-family: Univers,Trebuchet MS,Helvetica,Arial,sans-serif;


    @import "dialog";
    @import "file_dialog";
    @import "export_dialog";
}

.base {
    color: black;
    font-family: Courier New,monospace;
    font-weight: bold;
    text-shadow: white 0px 0px 1px;
}

/* colors for bases must be specified as hex or rgb/hsl strings, no named colors such as 'red' */
.base_n {
    background-color: #C6C6C6;
}
.base_a {
    background-color: #00BF00;
}
.base_c {
    background-color: #4747ff;
}
.base_t {
    background-color: #f00;
}
.base_g {
    background-color: #d5bb04;
}
.base_reference {
    background-color: #bbb;
}
.base_deletion {
    background-color: #999;
}

.sequence.nocolor .base {
    background-color: #ddd;
}

/* added to document.body */
.featureTooltip {
    background: #FFFEF0;
    border: 1px solid #aaa;
    padding: 2px;
    font-family: Courier New, monospace;
    font-weight: bold;
    cursor: default;

    -moz-box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
    -webkit-box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
    box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
}
