/*MAKER CSS with colors for common features*/

/*SNAP*/
.snap-exon,
.plus-snap-exon,
.minus-snap-exon,
.snap-five_prime_UTR,
.plus-snap-five_prime_UTR,
.minus-snap-five_prime_UTR,
.snap-three_prime_UTR,
.plus-snap-three_prime_UTR,
.minus-snap-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #99FFCC;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*Augustus*/
.augustus-exon,
.plus-augustus-exon,
.minus-augustus-exon,
.augustus-five_prime_UTR,
.plus-augustus-five_prime_UTR,
.minus-augustus-five_prime_UTR,
.augustus-three_prime_UTR,
.plus-augustus-three_prime_UTR,
.minus-augustus-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #FFCCFF;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*GeneMark*/
.genemark-exon,
.plus-genemark-exon,
.minus-genemark-exon,
.genemark-five_prime_UTR,
.plus-genemark-five_prime_UTR,
.minus-genemark-five_prime_UTR,
.genemark-three_prime_UTR,
.plus-genemark-three_prime_UTR,
.minus-genemark-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #679B68;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*FGENESH*/
.fgenesh-exon,
.plus-fgenesh-exon,
.minus-fgenesh-exon,
.fgenesh-five_prime_UTR,
.plus-fgenesh-five_prime_UTR,
.minus-fgenesh-five_prime_UTR,
.fgenesh-three_prime_UTR,
.plus-fgenesh-three_prime_UTR,
.minus-fgenesh-three_prime_UTR {
    position: absolute;
    height: 7px;
    background-color: #FF99FF;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*protein2genome*/
.protein2genome_part,
.plus-protein2genome_part,
.minus-protein2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FFFF00;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*BLASTN*/
.blastn_part,
.plus-blastn_part,
.minus-blastn_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #66CC00;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*BLASTX*/
.blastx_part,
.plus-blastx_part,
.minus-blastx_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
background-color: #FF00FF;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*TBLASTX*/
.tblastx_part,
.plus-tblastx_part,
.minus-tblastx_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #663366;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*est2genome*/
.est2genome_part,
.plus-est2genome_part,
.minus-est2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FAFAD2;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*repeat*/
.repeat_part,
.plus-repeat_part,
.minus-repeat_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #FF0000;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

/*cdna2genome*/
.cdna2genome_part,
.plus-cdna2genome_part,
.minus-cdna2genome_part {
    position: absolute;
    height: 4px;
    margin-top: -2px;
    background-color: #8C468C;
    border-style: solid;
    border-color: #6E6E6E;
    border-width: 1px 1px 1px 1px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}
