table.sequence {
    border-collapse: collapse;
}

div.sequence_blur {
    /* background: url('../img/sequence_blur.png') #eee repeat-x; */
    background: #f5f5f5;
    background: rgba( 50, 50, 50, 0.16 );
    border: 0;
    color: #575757;
    height: 31px;
    font-size: 12px;
    text-align: center;
    position: relative;
}
.sequence_blur > span {
    top: 50%;
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    margin-top: -8px;
}

table.sequence .highlighted {
    background: #ff0;
}
table.sequence .revcom {
    color: red;
}
table.sequence .base, table.sequence > tr, table.translatedSequence > tr, table.translatedSequence  {
    height: 14px;
    line-height: 14px;
}

table.sequence.big .base {
    border-right: 1px solid #333;
}

.translatedSequence {
    position: relative;
    border-width: 0px;
    border-collapse: collapse;
    overflow: visible;
}
.translatedSequence table {
    z-index: 10;
}

.translatedSequence.frame0 {
    background-color: #929292;
}

.translatedSequence.frame1 {
    background-color: #B0B0B0;
}

.translatedSequence.frame2 {
    background-color: #E0E0E0;
}
.translatedSequence td.aminoAcid {
    text-align: center;
    z-index: 2000;

    color: black;
    font-family: Courier New,monospace;
    font-weight: bold;
    text-shadow: white 0px 0px 1px;
}
.translatedSequence.big, .translatedSequence.big td.aminoAcid {
    border-right: 1px solid #777;
}

.translatedSequence.frame2 td.aminoAcid {
    border-right-color: #979797;
}
.translatedSequence.frame1 td.aminoAcid {
    border-right-color: #6d6d6d;
}
.translatedSequence.frame0 td.aminoAcid {
    border-right-color: #5f5f5f;
}

.translatedSequence td.aminoAcid_stop {
    background-color: #FF0000;
}

.translatedSequence td.aminoAcid_start {
    background-color: #00FF00;
}

td.base {
    text-align: center;
    z-index: 2000;
}

