/* 
    navbar/toolbar styles
    Created on : Jun 19, 2015, 6:37:30 PM
    Author     : Eric Y
*/
.jbrowse #location-info {
    display: inline-block;
    border:0px solid #bbb;
    padding: 3px 3px 3px 3px;
    background-color: rgba(235,235,235,0.60) ;
    margin-right: 6px;
    cursor: default;
    position:relative;
    top: 2px;
    min-width: 40ex;
}

.jbrowse #search-box {
    margin-right: 10px;
}
.jbrowse .separate-location-box {
    float: right;
}

/* location box */
.jbrowse div[id=widget_location] {
    margin-left:3px !important;
}

.jbrowse #widget_location {
    padding-top: 2px;
}

.jbrowse span1[widgetid=search-go-btn] {
    position:relative;
    left: -3px;
}

.jbrowse div[widgetid=highlight-btn] {
    position:relative;
    top: 1px;
}
