/* TriStateCheckBox
 *
 * Styling TriStateCheckBox mainly includes:
 *
 * 1. Containers
 * 		.dojoxTriStateCheckBox|.dojoxTriStateCheckBoxIcon - for border, padding, width|height and background image
 *
 * 2. Checked state
 * 		.dojoxTriStateCheckBoxChecked - for checked background-color|image
 * 		.dojoxTriStateCheckBoxMixed - for mixed background-color|image
 *
 * 3. Hover state
 * 		.dojoxTriStateCheckBoxHover|.dojoxTriStateCheckBoxCheckedHover|.dojoxTriStateCheckBoxMixedHover - for background image
 *
 * 4. Disabled state
 * 		.dojoxTriStateCheckBoxDisabled|.dojoxTriStateCheckBoxCheckedDisabled|.dojoxTriStateCheckBoxMixedDisabled - for background image
 */
.dojoxTriStateCheckBox,  .dojoxTriStateCheckBoxIcon {
  background-image: url('../img/tristate.png');
  /* checkbox sprite image */

  background-repeat: no-repeat;
  width: 30px;
  height: 22px !important;
  margin: 0 2px 0 0;
  padding: 5px 5px 5px 5px;
}
.dj_ie6 .dojoxTriStateCheckBox, .dj_ie6  .dojoxTriStateCheckBoxIcon {
  background-image: url('../img/tristate.png');
  /* checkbox sprite image */

}
.dojoxTriStateCheckBox{
  /* unchecked */

  background-position: -30px;
}
.dojoxTriStateCheckBoxChecked{
  /* checked */
  background-position: 0px;
}
.dojoxTriStateCheckBoxMixed {
  /* mixed */

  background-position: -90px;
}
.dojoxTriStateCheckBoxDisabled {
  /* disabled and unchecked */

  background-position: -30px;
}
.dojoxTriStateCheckBoxCheckedDisabled {
  /* disabled and checked */

  background-position: 0px;
}
.dojoxTriStateCheckBoxMixedDisabled {
  /* disabled and mixed */

  background-position: -90px;
}
.dojoxTriStateCheckBoxHover {
  /* hovering over and unchecked */

  background-position: -60px;
}
.dojoxTriStateCheckBoxCheckedHover {
  /* hovering over and checked */

  background-position: 0px;
}
.dojoxTriStateCheckBoxMixedHover {
  /* hovering over and mixed */

  background-position: -120px;
}

.dijit_a11y .dojoxTriStateCheckBoxHover .dojoxTriStateCheckBoxInner,
.dijit_a11y .dojoxTriStateCheckBoxFocused .dojoxTriStateCheckBoxInner{
  /* focused or hovering over */
  border: dashed;
}

.dijit_a11y .dojoxTriStateCheckBoxHover .dojoxTriStateCheckBoxInner,
.dijit_a11y .dojoxTriStateCheckBoxFocused .dojoxTriStateCheckBoxInner{
  /* focused or hovering over */
  border: solid;
}

.dijit_a11y .dojoxTriStateCheckBoxDisabled .dojoxTriStateCheckBoxInner{
  /* focused or hovering over */
  opacity: 0.5;
}

.dj_ie .dijit_a11y .dojoxTriStateCheckBoxDisabled .dojoxTriStateCheckBoxInner{
  /* disabled */
}


.dojoxTriStateCheckBoxInner{
  /* inner text */

  visibility: hidden;
  display: none;
  position: absolute;
  text-align: center;
}

.dijit_a11y .dojoxTriStateCheckBoxInner{
  /* inner text */

  visibility: visible;
  display: block;
}

.dojoxTriStateCheckBoxInput {
  /* place the actual input on top, but all-but-invisible */
  opacity: 0.01;
  padding: 0;
  margin: 0;
  border: 0;
  width: 30px;
  height: 22px;
  background-position:center center;
  background-repeat:no-repeat;
}

.dj_ie .dojoxTriStateCheckBoxInput {
  filter: alpha(opacity=0);
}
