.soria .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat left center;
	width: 11px;
}
.soria .dijitComboBoxHover .dijitArrowButtonInner {
	/* TODO: url("images/arrowDownHover.png") but in IE6 it flickers some? */
}
