
.dj_gecko .dijitRtl .dijitInputField {
	direction: ltr; 
}
.dj_gecko .dijitRtl .dijitInputField * {
	direction: rtl; 
}
.dijitRtl .dijitTreeContainer .dijitTreeExpando, .dijitRtl .dijitTreeContainer .dijitTreeExpand {
	float:right;
}
.dijitRtl .dijitExpandoText { 
	float: right; 
	padding-left: 3px;
	padding-right: 0; 
} 
.dijitRtl .dijitComboBox .dijitInputField {
	border-right-width:1px !important;
	border-left-width:0 !important;
}
.dijitRtl .dijitCalendarNextYear {
	margin:0 0.55em 0 0;
}
.dijitRtl .dijitCalendarPreviousYear {
	margin:0 0 0 0.55em;
}
.dijitRtl .dijitProgressBarFull .dijitProgressBarLabel {
	right:0; 
}
.dijitRtl .dijitComboButton .dijitButtonContents {
	border-right-width:1px !important;
}
.dijitRtl .dijitA11ySideArrow {
	margin-left:1em;
	margin-right:0;
}
.dijitRtl .dijitAccordionArrow,
.dijitRtl .dijitAccordionTitle .arrowTextUp,
.dijitRtl .dijitAccordionTitle .arrowTextDown {
	float: left;
}
.dijitRtl .dijitSliderImageHandleV {
	left:auto;
	right:-6px;
}
.dj_ie .dijitRtl .dijitSliderImageHandleV {
	right:-10px;
}
.dijitRtl .dijitSliderMoveableH {
	right:auto;
	left:0;
}
.dijitRtl .dijitRuleContainerV {
	float:right;
}
.dj_gecko .dijitRtl .dijitRuleContainerV {
	float:left;
}
.dj_ie .dijitRtl .dijitRuleContainerV {
	text-align:right;
}
.dj_ie .dijitRtl .dijitRuleLabelV {
	text-align:left;
}
.dj_ie .dijitRtl .dijitRuleLabelH {
	zoom:1;
}
.dj_ie .dijitRtl .dijitSliderProgressBarH {
	right:0;
	left:auto;
}
.dj_gecko .dijitRtl .dijitSliderProgressBarH {
	float:right;
	right:0;
	left:auto;
}
.dijitRtl .dijitTab {
	float:right;
}
.dj_ie .dijitRtl .dijitTab,
.dj_ie .dijitRtl .dijitTab .dijitTabInnerDiv,
.dj_ie .dijitRtl .dijitTab .dijitTabInnerDiv span {
	position:static;
	zoom:1;
}
.dj_ie .dijitRtl .dijitTabContainer .dijitAlignLeft {
	margin-left:1px !important;
}
.dj_ie .dijitRtl .dijitTabContainer .dijitAlignRight {
	margin-right:1px !important;
}
.dj_ie6 .dijitRtl .dijitTab {
	
	width:1px;
}
.dj_ie7 .dijitRtl .dijitTabContainer .dijitAlignLeft {
	
	margin-left:1px !important;
}
.dj_ie7 .dijitRtl .dijitTabContainer .dijitAlignRight {
	
	margin-right:1px !important;
}
.dj_ie6 .dijitRtl .dijitTabContainer .dijitAlignLeft {
	overflow-x:visible;
	margin-left:2px !important;
}
.dj_ie6 .dijitRtl .dijitTabContainer .dijitAlignRight {
	overflow-x:visible;
	margin-right:2px !important;
}
.dj_ie7 .dijitRtl .dijitTab .dijitTabInnerDiv {
	float:left;
}
.dj_ie7 .dijitRtl .dijitTab .closeImage {
	padding: 0 0 0 12px;
}
.dj_ie .dijitRtl .dijitAlignRight .dijitTab {
	position:relative;
}
.dijitRtl .dijitTitlePane .dijitArrowNode {
	float: left;
}
.dijitRtl .dijitSpinner .dijitInputLayoutContainer .dijitArrowButton {
	right: auto;
	left: 0;
	border-width: 0 1px 0 0 !important;
}
.dijitRtl .dijitSpinnerButtonContainer {
	float: left;
}
.dijitRtl .dijit_a11y .dijitSpinnerButtonContainer {
	margin-left: none;
	margin-right: 2px;
}
.dijitRtl DIV.dijitArrowButton, .dijitRtl .dijitValidationIcon, .dijitRtl .dijitValidationIconText {
	float: left;
}
.dijitRtl .dijitContentPaneLoading, .dijitRtl .dijitContentPaneError {
	background-position:right;
	padding-right:25px;
}
.dijitRtl .dijitTab {
	margin-right:0;
	margin-left:3px;		
}
.dijitRtl .dijitTab .dijitTabInnerDiv {
	border-left:none;
}
.dijitRtl .dijitTab .dijitClosable {
	padding: 0 10px 0 20px;
}
.dijitRtl .dijitTab .closeImage {
	position:static;
}
.dj_gecko .dijitTab .closeImage {
	position:relative;
	float:none;
	padding:0;
}
.dijitRtl .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
	background-position: -60px top;
}
.dj_ie .dijitRtl .dijitTab .dijitClosable .closeImage {
	width:12px !important;
}
.dijitRtl .dijitAlignLeft .dijitTab,
.dijitRtl .dijitAlignRight .dijitTab {
	margin-left:0px;
}
.dijitRtl .dijitAlignBottom .dijitTab { 
	margin-right:0;
	margin-left:3px;			
}
.dijitRtl .dijitAlignBottom .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}
.dijitRtl .dijitAlignRight .dijitTab .dijitTabInnerDiv {
	padding-left:10px;
	padding-right:20px;
}
.dijitRtl .dijitAlignLeft .dijitTab .dijitTabInnerDiv {
	padding-left:20px;
	padding-right:10px;
}
.dijitRtl .dijitAlignRight .dijitTab .dijitClosable .closeImage {
	left:auto;
	right:3px;
}
.dijitRtl .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}
.dijitRtl .dijitAccordionArrow {
	background-position: -30px top;
}
.dijitRtl .dijitSliderProgressBarH,
.dijitRtl .dijitSliderRemainingBarH,
.dijitRtl .dijitSliderLeftBumper,
.dijitRtl .dijitSliderRightBumper,
.dijitRtl .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .dijitSliderProgressBarV,
.dijitRtl .dijitSliderRemainingBarV,
.dijitRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .dijitSliderIncrementIconH {
	background-image:url(images/arrowLeft.png);
}
.dijitRtl .dijitSliderDecrementIconH {
	background-image:url(images/arrowRight.png);
}
.dijitRtl .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.dijitRtl .dijitComboBox .dijitButtonNode,
.dijitRtl .dijitSpinner .dijitButtonNode {
	
	border-color: #8ba0bd;
	border-left: 0px solid #8ba0bd;
	border-right: 1px solid #8ba0bd;
}
.dijitRtl .dijitTreeContainer .dijitTreeNode {
    background-image : url(images/treeI_rtl.gif);
    background-position : top right;
    margin-left: auto;
    margin-right: 19px;
}
.dijitRtl .dijitTreeContainer .dijitTreeIsRoot {
	margin-left: auto;
    margin-right: 0;
    background-image: none;
}
.dijitRtl .dijitTreeContainer .dijitTreeIsLast {
    background-image: url(images/treeI_half_rtl.gif);
}
.dijitRtl .dijitTreeContainer .dijitTreeContent {
    margin-left: auto;
    margin-right: 18px;
    padding-left: auto;
    padding-right: 1px;   
}
.dijitRtl .dijitTreeContainer .dijitTreeExpandoOpened {
	background: url(images/spriteTree_rtl.gif) no-repeat -18px top;
}
.dijitRtl .dijitTreeContainer .dijitTreeExpandoClosed {
	background-image: url(images/spriteTree_rtl.gif);
}
.dijitRtl .dijitTreeContainer .dijitTreeExpandoLeaf {
	background: url(images/spriteTree_rtl.gif) no-repeat -36px top;
}
.dijitRtl .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -30px top;
}
.dj_ie6 .dijitRtl .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-position: -30px top;
}
.dijitRtl .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .dijitCalendarIncrease {
	background-position: 0px top;
}
.dj_ie6 .dijitRtl .dijitCalendarIncrease {
	background-position: 0px top;
}
.dj_ie6 .dijitRtl .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background-position: -60px top;
	float: left;
	right: auto;
	left: 5px;
}
.dj_ie6 .dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon {
	background-position: -60px top;
}
.dj_ie .dijitRtl .dijitTooltipLeft {
	margin-right: 0px;
	margin-left: 13px;
}
.dj_ie .dijitRtl .dijitTooltipRight {
	margin-left: 26px;
	margin-right: -13px;
}
.dj_ie .dijitRtl .dijitTooltipDialog {
	zoom:1 !important;
}
.dijitRtl .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}
.dijitRtl .dijitMenuItem .dijitMenuExpandEnabled {
	background-image:url(images/arrowLeft.png);
}
.dj_ie6 .dijitRtl .dijitMenuItem .dijitMenuExpandEnabled {
	background-image:url(images/arrowLeft.gif); 
}
.dijitRtl .dijitEditorIcon {
	background-image: url(images/editor_rtl.gif); 
}
.dijitRtl .dijitToolbar .dijitToolbarSeparator {
	background-image: url(images/editor_rtl.gif);
}
