.nihilo .dijitToolbar {
	padding: 3px 0 1px 3px;	
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.nihilo .dijitToolbar .dijitButtonNode {
	background: none;
	margin: 0px !important;
	padding: 0px !important;	
	border: none;
	font-size: 12px;
}
.nihilo .dijitToolbar .dijitButton,
.nihilo .dijitToolbar .dijitToggleButton,
.nihilo .dijitToolbar .dijitDropDownButton {
	background: none;
	margin: 1px;
	padding: 0px;	
	border: 1px solid transparent;
}
.nihilo .dijitToolbar .dijitButtonChecked,
.nihilo .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	margin: 1px !important;
	padding: 0px !important;
}
.nihilo .dijitToolbar .dijitButtonCheckedHover,
.nihilo .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	margin: 1px !important;
	padding: 0px !important;
}
.nihilo .dijitToolbar .dijitButtonHover,
.nihilo .dijitToolbar .dijitToggleButtonHover,
.nihilo .dijitToolbar .dijitDropDownButtonHover {
	
	border: 1px solid #f7c95c;
	background-color:#ffe284;
}
.nihilo .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dj_ie .nihilo .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .nihilo.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .nihilo .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;	
}
.dj_ie6 .nihilo .dijitToolbar .dijitButton,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButton,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButton {
	
	margin: 2px;
	padding: 0px 2px;
	border: 0px;
}
.dj_ie6 .nihilo .dijitToolbar .dijitButtonChecked,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButtonChecked,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	margin: 1px !important;
	padding: 0px 2px !important;
}
.dj_ie6 .nihilo .dijitToolbar .dijitButtonCheckedHover,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButtonCheckedHover,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButtonCheckedHover {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	margin: 1px !important;
	padding: 0px 2px !important;
}
.dj_ie6 .nihilo .dijitToolbar .dijitButtonHover,
.dj_ie6 .nihilo .dijitToolbar .dijitToggleButtonHover,
.dj_ie6 .nihilo .dijitToolbar .dijitDropDownButtonHover  {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	margin: 1px !important;
	padding: 0px 2px !important;
}
