<div class="dijit dijitReset dijitLeft dijitInline"
	dojoAttachEvent="onclick:_onButtonClick,onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse"
	waiRole="presentation"
	><button class="dijitReset dijitStretch dijitButtonNode dijitButtonContents" dojoAttachPoint="focusNode,titleNode"
		type="${type}" waiRole="button" waiState="labelledby-${id}_label"
		><span class="dijitReset dijitInline ${iconClass}" dojoAttachPoint="iconNode" 
 			><span class="dijitReset dijitToggleButtonIconChar">&#10003;</span 
		></span
		><div class="dijitReset dijitInline"><center class="dijitReset dijitButtonText" id="${id}_label" dojoAttachPoint="containerNode">${label}</center></div
	></button
></div>
