<table class='dijit dijitReset dijitInline dijitLeft'
	cellspacing='0' cellpadding='0' waiRole="presentation"
	><tbody waiRole="presentation"><tr waiRole="presentation"
		><td	class="dijitReset dijitStretch dijitButtonContents dijitButtonNode"
			tabIndex="${tabIndex}"
			dojoAttachEvent="ondijitclick:_onButtonClick,onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse"  dojoAttachPoint="titleNode"
			waiRole="button" waiState="labelledby-${id}_label"
			><div class="dijitReset dijitInline ${iconClass}" dojoAttachPoint="iconNode" waiRole="presentation"></div
			><div class="dijitReset dijitInline dijitButtonText" id="${id}_label" dojoAttachPoint="containerNode" waiRole="presentation">${label}</div
		></td
		><td class='dijitReset dijitStretch dijitButtonNode dijitArrowButton dijitDownArrowButton'
			dojoAttachPoint="popupStateNode,focusNode"
			dojoAttachEvent="ondijitclick:_onArrowClick, onkeypress:_onKey,onmouseenter:_onMouse,onmouseleave:_onMouse"
			stateModifier="DownArrow"
			title="${optionsTitle}" name="${name}"
			waiRole="button" waiState="haspopup-true"
			><div class="dijitReset dijitArrowButtonInner" waiRole="presentation">&thinsp;</div
			><div class="dijitReset dijitArrowButtonChar" waiRole="presentation">&#9660;</div
		></td
	></tr></tbody
></table>
