<div class="dijit dijitReset dijitInlineTable dijitLeft"
	id="widget_${id}"
	dojoAttachEvent="onmouseenter:_onMouse,onmouseleave:_onMouse,onmousedown:_onMouse" waiRole="presentation"
	><div style="overflow:hidden;"
		><div class="dijitReset dijitValidationIcon"><br></div
		><div class="dijitReset dijitValidationIconText">&Chi;</div
		><div class="dijitReset dijitInputField"
			><input class="dijitReset" dojoAttachPoint='textbox,focusNode' dojoAttachEvent='onfocus:_update,onkeyup:_update,onblur:_onMouse,onkeypress:_onKeyPress' autocomplete="off"
			type='${type}' name='${name}'
		/></div
	></div
></div>
