<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>dojox.layout.ExpandoPane</title>

	<style type="text/css">
		body, html {
			height:100%;
		}
	</style>
	<link rel="stylesheet" href="../resources/ExpandoPane.css" />
	<link rel="stylesheet" href="../../../dijit/tests/css/dijitTests.css" />

	<script type="text/javascript" src="../../../dojo/dojo.js" djConfig="parseOnLoad:true, isDebug:true"></script>
	<script type="text/javascript" src="../../../dijit/tests/_testCommon.js"></script>

	<script src="../ExpandoPane.js" type="text/javascript"></script>

	<script type="text/javascript">
		dojo.require("dijit.layout.TabContainer");
		dojo.require("dijit.Tree");
		dojo.require("dijit.layout.ContentPane");
		dojo.require("dijit.layout.BorderContainer");
		dojo.require("dojox.fx.easing");
	</script>
</head>
<body>

	<h1>Basic ExpandoPane tests</h1>

	<h2>Left:</h2>
	<div dojoType="dijit.layout.BorderContainer" style="height:275px">
		<div dojoType="dojox.layout.ExpandoPane" title="leftTest" region="left" maxWidth="175" style="width:175px; background:red">
			foo
		</div>
		<div dojoType="dijit.layout.TabContainer" region="center">
			<div dojoType="dijit.layout.ContentPane" title="tab 1" href="_lorem.html"></div>
			<div dojoType="dijit.layout.ContentPane" title="tab 2" href="_lorem.html"></div>
		</div>
	</div>

	<h2>Right:</h2>
	<div dojoType="dijit.layout.BorderContainer" style="height:275px">
		<div dojoType="dojox.layout.ExpandoPane" title="rightTest" region="right" maxWidth="175" style="width:175px; background:red">
			<div dojoType="dijit.layout.TabContainer" tabPosition="bottom" attachParent="true">
				<div dojoType="dijit.layout.ContentPane" attachParent="true" title="tab 1" href="_lorem.html"></div>
				<div dojoType="dijit.layout.ContentPane" title="tab 2" href="_lorem.html"></div>
			</div>
		</div>
		<div dojoType="dijit.layout.TabContainer" region="center">
			<div dojoType="dijit.layout.ContentPane" title="tab 1" href="_lorem.html"></div>
			<div dojoType="dijit.layout.ContentPane" title="tab 2" href="_lorem.html"></div>
		</div>
	</div>

	<h2>Top (easeIn="dojox.fx.easing.bounceOut" duration="1200"):</h2>
	<div dojoType="dijit.layout.BorderContainer" style="height:275px">
		<div easeIn="dojox.fx.easing.bounceOut" duration="1200" dojoType="dojox.layout.ExpandoPane" title="topTest" region="top" maxHeight="75" style="height:75px; background:red">
			foo
		</div>
		<div region="center" dojoType="dijit.layout.ContentPane" href="_lorem.html"></div>
	</div>

	<h2>Bottom:</h2>
	<div dojoType="dijit.layout.BorderContainer" style="height:375px; border:8px solid #333;">
		<div dojoType="dojox.layout.ExpandoPane" title="bottomTest" region="bottom" maxHeight="75" style="height:75px; width:100%; background:red;">
			foo
		</div>
		<div region="center" dojoType="dijit.layout.ContentPane" href="_lorem.html"></div>
	</div>

	<h2>Bottom/Left:</h2>
	<div dojoType="dijit.layout.BorderContainer" style="height:375px; border:8px solid #333;">
		<div dojoType="dojox.layout.ExpandoPane" title="leftTest" region="left" maxWidth="175" style="width:175px; background:red;">
			foo
		</div>
		<div dojoType="dojox.layout.ExpandoPane" title="bottomTest" region="bottom" maxHeight="75" style="height:75px; width:100%; background:red;">
			foo
		</div>
		<div region="center" dojoType="dijit.layout.ContentPane" href="_lorem.html"></div>
	</div>

	<h2>Top/Left/Right</h2>	
	<div dojoType="dijit.layout.BorderContainer" style="height:375px; border:8px solid #333;">
		<div dojoType="dojox.layout.ExpandoPane" title="leftTest" region="left" maxWidth="175" style="width:175px; background:red;">
			foo
		</div>
		<div dojoType="dojox.layout.ExpandoPane" title="leftTest" region="right" maxWidth="175" style="width:175px; background:red;">
			foo
		</div>
		<div dojoType="dojox.layout.ExpandoPane" title="bottomTest" region="bottom" maxHeight="75" style="height:75px; width:100%; background:red;">
			foo
		</div>
		<div region="center" dojoType="dijit.layout.ContentPane" href="_lorem.html"></div>
	</div>	

	<h2>Top/Left/Right + splitters</h2>	
	<div dojoType="dijit.layout.BorderContainer" style="height:375px; border:8px solid #333;">
		<div splitter="true" dojoType="dojox.layout.ExpandoPane" title="leftTest" region="left" maxWidth="175" style="width:175px; background:red;">
			foo
		</div>
		<div splitter="true" dojoType="dojox.layout.ExpandoPane" title="leftTest" region="right" maxWidth="175" style="width:175px; background:red;">
			foo
		</div>
		<div splitter="true" dojoType="dojox.layout.ExpandoPane" title="bottomTest" region="bottom" maxHeight="75" style="height:75px; width:100%; background:red;">
			foo
		</div>
		<div region="center" dojoType="dijit.layout.ContentPane" href="_lorem.html"></div>
	</div>	


</body>
</html>
