<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

	<title>DragPane layout widget Test</title>

	<script type="text/javascript" src="../../../dojo/dojo.js" djConfig="parseOnLoad:true, isDebug:true"></script>
	<script type="text/javascript" src="../../../dijit/tests/_testCommon.js"></script>
	<script type="text/javascript" src="../DragPane.js"></script>
	<script type="text/javascript">
		dojo.require("dojo.parser");
	</script>
	<style type="text/css">
		@import "../../../dojo/resources/dojo.css";
		@import "../../../dijit/themes/dijit.css";
		@import "../../../dijit/themes/tundra/tundra.css";
		@import "../../../dijit/tests/css/dijitTests.css";
		
		.hasHand { cursor:pointer !important; }
		.box { width:25px; height:25px; background:#000; position:absolute; }
		#br { bottom:5px; right:5px; }
		#bl { left:5px; bottom:5px; }
		#tl { top:5px; left:5px; }
		#tr { top:5px; right:5px; }
		.hugetext {
			font:22pt Arial,sans-serif;
			font-weight:bold;
		}
		#container {
			overflow:auto;
			width:600px;
			height:300px;
			border:4px solid #ededed;
			background:#ededed;
		}
	</style>

</head>
<body class="tundra">
	<div class="hugetext" id="container" dojoType="dojox.layout.DragPane">
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>
		<p style="color:#666; padding:8px; margin:0;">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In porta. Etiam mattis libero nec ante. Nam 
		porta lacus eu ligula. Cras mauris. Suspendisse vel augue. Vivamus aliquam orci ut eros. Nunc eleifend 
		sagittis turpis. purus purus in nibh. Phasellus in nunc.
		</p>	
	</div>
</body>
</html>
