{
  "parser": "babel-eslint",
  "extends": [
    "plugin:xss/recommended"
  ],
  "plugins": [],
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "globals": {},
  "rules": {
    "no-underscore-dangle": 0,
    "no-undef": "error",
    "curly": "error"
  }
}
