*~
/data/
.#*
\#*\#
*.index
*.pyc
*TODO.txt
Makefile
/sample_data/json
/docs/jsdoc/
/*-debug.html
/extlib*
autom4te.cache
sample_data/raw/tomato
sample_data/raw/yeast_chr1+2/yeast.fa
/.prove
/setup.log
/release-notes.html
samtools-master/
samtools-0.1.20
setup.log
MYMETA.*
node_modules
.idea/**
/nbproject/private/
*.swp
_Inline
.DS_Store
blib
pm_to_blib
src/dojo-themes
themes/*/css
.sass-cache
.vscode/
*driver.log
JBrowse-*/
JBrowse-*.zip
dist/
npm-debug.log
yarn-error.log
package-lock.json

## docusaurus
lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/node_modules
website/i18n/*
.eslintcache
