[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/dijit"]
	path = src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/dojox"]
	path = src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
[submodule "src/jszlib"]
	path = src/jszlib
	url = https://github.com/rbuels/jszlib.git
[submodule "src/lazyload"]
	path = src/lazyload
	url = https://github.com/rbuels/lazyload.git
[submodule "src/dgrid"]
	path = src/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "src/xstyle"]
	path = src/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "src/put-selector"]
	path = src/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "src/dbind"]
	path = src/dbind
	url = https://github.com/rbuels/dbind.git
[submodule "src/json-schema"]
	path = src/json-schema
	url = https://github.com/kriszyp/json-schema.git
[submodule "src/jDataView"]
	path = src/jDataView
	url = https://github.com/rbuels/jDataView.git
[submodule "src/FileSaver"]
	path = src/FileSaver
	url = https://github.com/dkasenberg/FileSaver.js.git
