sudo: false
language: perl
addons:
  apt:
    packages:
    - libdb-dev
    - libgd2-noxpm-dev
    - nginx
cache:
  - extlib/
  - $HOME/perl5/
before_install:
  - cpanm --notest GD::Image Text::Markdown DateTime
  - cpanm --notest git://github.com/bioperl/bioperl-live.git@v1.6.x
  - npm install -g eslint
install:
  - npm install
  - bash setup.sh legacy
before_script:
  - cat tests/travis.conf | envsubst > tests/travis-envsubst.conf
  - nginx -c `pwd`/tests/travis-envsubst.conf
script:
  - phantomjs tests/js_tests/run-jasmine.js http://localhost:9000/tests/js_tests
  - eslint src/JBrowse/
  - make -f build/Makefile release
after_failure:
  - cat JBrowse-1.x.x-dev/setup.log 
  - find JBrowse-1.x.x-dev/extlib/lib/perl5
  - cat JBrowse-1.x.x-dev/src/build-report.txt
