
.combination_track.empty, .combination_track.empty.pinned {
    background: #aaa;
    background: rgba(0,0,0,0.1);
}

.combinationDialog .formulaPreview {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 20px 0;
    line-height: 25px;
}

.formulaPreview .tree {
}

.formulaPreview .leaf {
    /* background: #A1F0A1; */
    /* /\* margin: 0 1px; *\/ */
    padding: 0 4px;
    text-decoration: underline;
    /* border: 1px solid #0DCA0D; */
    /* white-space: nowrap; */
}

.formulaPreview .leaf.highlighted {
    background-color: #BBB;
}

.formulaPreview .op {
    /* font-weight: bold; */
    /* color: #FFF; */
    /* background: #000; */
    /* /\* padding: 0 7px; *\/ */
    /* z-index: 10; */
    /* font-size: 120%; */
}