/* Dojo and Dijit stuff */

@import url("jslib/dijit/themes/tundra/tundra.css");
@import url("jslib/dojox/grid/resources/Grid.css");
@import url("jslib/dojox/grid/resources/tundraGrid.css");
@import url("jslib/dojox/grid/enhanced/resources/tundra/EnhancedGrid.css");

.dojoxGrid table {
  margin: 0;
}

/* JBrowse stuff */

#faceted_tracksel {
    font-size: 130%;
    background: white;
    vertical-align: top;
}

/* Track grid */

#faceted_tracksel .dojoxGridCellFocus {
    border-color: transparent;
    border-color: transparent !important;
}
#faceted_tracksel .gridPane .gridControls {
    background: #e9e9e9;
    padding: 2px 3px;
}
#faceted_tracksel label.textFilterControl {

}

/* Track selector title bar */
#faceted_tracksel_top {
    background: #396494;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
#faceted_tracksel_top > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
#faceted_tracksel_top .title {
    padding: 0;
    width: 185px;

    font-weight: bold;
    color: white;
    font-size: 180%;
}

#faceted_tracksel_top button.faceted_tracksel_on_off {
    padding: 5px;
}


/* Facet selection controls */
#faceted_tracksel .facetSelect .facetValue {
    padding: 0.1em 0.4em;
    cursor: pointer;
}
#faceted_tracksel .facetSelect .facetValue:hover {
    background: #D2E1F1;
}

#faceted_tracksel .facetSelect .selected {
    background: #b1d3f6;
}
.tundra #faceted_tracksel .facetSelect .selected {
    background: #AEC7E3;
}
#faceted_tracksel .dijitAccordionContainer-dijitContentPane {
    padding: 0;
}
#faceted_tracksel .facetTitle {
    border-top: 3px solid transparent;
    margin: -2px;
    padding: 2px;
}
#faceted_tracksel .facetTitle.selected {
    border-top: 3px solid #396494;
    font-weight: bold;
}
#faceted_tracksel .facetTitle a {
    display: none;
}
#faceted_tracksel .facetTitle.selected a {
    display: block;
}


/* Button that we inject into the navbox for turning the track
selector on and off. */
#navbox button.faceted_tracksel_on_off {
}
