/* Dojo and Dijit stuff */

@import url("jslib/dojox/grid/resources/tundraGrid.css");

.dojoxGrid table {
  margin: 0;
}
.dojoxGridRowSelectorStatusText {
    display: none;
}

/* JBrowse stuff */

#faceted_tracksel {
    font-size: 120%;
    background: white;
}

/* Track grid */

#faceted_tracksel .dojoxGridCellFocus {
    border-color: transparent;
    border-color: transparent !important;
}
#faceted_tracksel .gridPane .gridControls {
    background: #e9e9e9;
    padding: 2px 3px;
}
#faceted_tracksel .gridPane .gridControls button {
    height: 2.2em;
    margin: 4px;
}

#faceted_tracksel label.textFilterControl {
    display: block;
    display: inline-block;
    padding: 0.3em;
}
#faceted_tracksel label.textFilterControl input {
    color: red;
    font-weight: bold;
    padding: 0.2em;
}

/* Track selector title bar */
#faceted_tracksel_top {
    background: #396494;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
#faceted_tracksel_top > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
#faceted_tracksel_top .title {
    padding: 0;
    width: 185px;

    font-weight: bold;
    color: white;
    font-size: 180%;
}

#faceted_tracksel_top button.faceted_tracksel_on_off {
    padding: 5px;
}

#faceted_tracksel_top div.topLink {
    position: fixed;
    top: 0;
    right: 0;

    background: none;
    border: none;
    color: white;
    padding: 3px;

    font-weight: bold;
}


/* Facet selection controls */

#faceted_tracksel .facetSelect .facetValue {
    padding: 0.1em 0.4em;
    cursor: pointer;
}
#faceted_tracksel .facetSelect .facetValue:hover {
    background: #D2E1F1;
}

#faceted_tracksel .facetSelect .selected {
    background: #b1d3f6;
}
.tundra #faceted_tracksel .facetSelect .selected {
    background: #AEC7E3;
}
#faceted_tracksel .dijitAccordionContainer-dijitContentPane {
    padding: 0;
}
#faceted_tracksel .dijitAccordionContainer .dijitAccordionTitle {
    padding: 0 0 2px 5px;
}
#faceted_tracksel .facetTitle {
    border-top: 3px solid transparent;
    margin: -2px;
    padding: 2px;
}
#faceted_tracksel .facetTitle.selected {
    border-top: 3px solid #396494;
    font-weight: bold;
    background: #AEC7E3;
    padding-left: 5px;
    margin-left: -5px;
}
#faceted_tracksel .facetTitle a {
    display: none;
}
#faceted_tracksel .facetTitle.selected a.clearFacet {
    display: block;
    float: right;
    padding: 4px 6px;
}


/* Button that we inject into the navbox for turning the track
selector on and off. */
#navbox button.faceted_tracksel_on_off {
}
