td {
    font-size: 10pt
}
.indent {
    position:relative;
    left: 10em;
}
div.submission {
    float: left;
    width: 200px;
    border: 1px solid #BCB79E;
    background: #E2EBFE;
    padding: 1em;
    margin: 0.5em;
    text-align: left;
    overflow: auto;
}

div.submission:hover div.extra_data {
    display: block;
}

div.status {
    font-weight: bold;
    text-align: center;
    border: 1px solid #BCB79E;
    background: #E2EBFE;
}
span.exhibit-collectionView-group-count {
    color: #ccc;
    font-weight: normal;
}
div.exhibit-facet-value-selected {
    background: none;
    font-weight: bold;
}

div.name {
    font-weight: bold;
    font-size: 110%;
}

div.extra_data {
    display: none;
    color: #2B434C;
}

.submission {
    border: 1px solid #ddd;
    font-size: 9pt;
}
.organism {
    font-style: italic;
}
.condition {
}
.field-label {
    font-weight: bold;
    color: #2B434C;
}
div.selected {
    background-color: wheat;
}
div.select-track {
    text-align: right;
    font-size: 100%;
    font-weight: bold;
    color: #2B434C;
}
