#faceted_tracksel {
    font-size: 130%;
    background: #c7dbf1;
}

#faceted_tracksel_top {
    background: #396494;
    background: #8C9BAA;
    padding: 0.5em;
}
#faceted_tracksel_top h1 {
    width: 40%;
    float: left;

    margin: 0;

    font-weight: bold;
    color: white;
}

#faceted_tracksel label.textFilterControl {
    font-weight: bold;
    float: right;
    color: white;
}

#faceted_tracksel .facetSelect .facetValue {
    padding: 0.1em 0.4em;
    cursor: pointer;
}
#faceted_tracksel .facetSelect .selected {
    background: #b1d3f6;
}
.tundra #faceted_tracksel .facetSelect .selected {
    background: #AEC7E3;
}
#faceted_tracksel .dijitAccordionContainer-dijitContentPane {
    padding: 0;
}