/* Dojo and Dijit stuff */

@import url("jslib/dijit/themes/tundra/tundra.css");
@import url("jslib/dojox/grid/resources/Grid.css");
@import url("jslib/dojox/grid/resources/tundraGrid.css");
@import url("jslib/dojox/grid/enhanced/resources/tundra/EnhancedGrid.css");

.dojoxGrid table {
  margin: 0;
}

/* JBrowse stuff */

#faceted_tracksel {
    font-size: 130%;
    background: #c7dbf1;
}

#faceted_tracksel .dojoxGridCellFocus {
    border-color: transparent;
    border-color: transparent !important;
}

#faceted_tracksel_top {
    background: #396494;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}
#faceted_tracksel_top h1 {
    width: 180px;
    float: left;

    margin: 0;

    font-weight: bold;
    color: white;
    padding: 0.3em;
}

#faceted_tracksel_top button.faceted_tracksel_on_off {
    float: right;
}
#navbox button.faceted_tracksel_on_off {
    float: left;
    margin-left: 1em;
}

#faceted_tracksel label.textFilterControl {
    font-weight: bold;
    position: absolute;
    bottom: 0.7em;
    left: 205px;
    color: white;
}

/* Facet selection controls */
#faceted_tracksel .facetSelect .facetValue {
    padding: 0.1em 0.4em;
    cursor: pointer;
}
#faceted_tracksel .facetSelect .facetValue:hover {
    background: #D2E1F1;
}

#faceted_tracksel .facetSelect .selected {
    background: #b1d3f6;
}
.tundra #faceted_tracksel .facetSelect .selected {
    background: #AEC7E3;
}
#faceted_tracksel .dijitAccordionContainer-dijitContentPane {
    padding: 0;
}
#faceted_tracksel .facetTitle {
    border-top: 3px solid transparent;
    margin: -2px;
    padding: 2px;
}
#faceted_tracksel .facetTitle.selected {
    border-top: 3px solid #396494;
    font-weight: bold;
}
#faceted_tracksel .facetTitle a {
    display: none;
}
#faceted_tracksel .facetTitle.selected a {
    display: block;
}
