@import url("src/dojox/form/resources/UploaderFileList.css");

.fileDialog label {
    font-weight: bold;
    padding: 0 0.5em;
}
.fileDialog h2 {
    text-align: center;
}
.fileDialog div.aux {
    text-align: center;
    margin-bottom: 1em;
}
/* .dojoxUploaderFileListTable { */
/*     border: 1px solid #ccc; */
/* } */
/* .dojoxUploaderFileListTable th { */
/*     background: #ccc; */
/* } */
/* .dojoxUploaderFileListTable td { */
/*     background: white; */
/* } */
