/* main application CSS styles */
@import url("src/dijit/themes/tundra/tundra.css");
@import url("src/dojo/resources/dojo.css");

@import url("main.css");
@import url("menubar.css");
@import url("icons.css");
@import url("file_dialog.css");

/* CSS styles for the various types of feature glyphs */
@import url("track_styles.css");
@import url("faceted_track_selector.css");
