html, body {
    height: 98%;
}

button.nav {
    width: 4em;
}

div.dragWindow {
    position:absolute;
    overflow: hidden;
/*    overflow: -moz-scrollbars-vertical; */
/*    overflow-x: hidden;
    overflow-y: scroll; */
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    /*background: transparent;*/
    cursor: url("openhand.cur"), move;
}

div.block {
    position: absolute;
    overflow: visible;
    top: 0px;
    height: 100%;
}

div.track {
    position: relative;
    left: 0px;
    width: 100%;
    z-index: 5;
}

div#static_track {
    top: 0px;
    position: absolute;
    cursor: pointer;
    background-color: #f5f5f5;
    z-index: 20;
}

div.stripe {
    position: absolute;
    top: 0px;
    height: 100%;
    border-style: none none none solid;
    border-width: 1px;
    border-color: #ddd;
    overflow: visible;
}

div.pos-label {
    position: absolute;
    left: 0px;
    background-color: #ddd;
    z-index: 100;
    padding: 4px;
}

div.blank-block {
    position: absolute;
    overflow: visible;
    top: 0px;
    height: 100%;
    background-color: #eee;
    z-index: 19;
}

div.sequence {
    position: absolute;
    left: 0px;
    font-family: monospace;
    letter-spacing: 2px;
    padding-left: 2px;
    z-index: 100;
}

/*
div.minus-feature:before {
    content: attr(fName);
    display: block;
}

div.plus-feature:before {
    content: attr(fName);
    display: inline;
}
*/

div.track-label {
    position: absolute;
    z-index: 20;
    border: 2px #ddd solid;
    color: #ddd;
    padding: 2px;
    cursor: move;
}

div.feature-label {
    position: absolute;
    font-family: monospace;
    border: 0px;
    margin: -2px 0px 0px 0px;
    /* padding: 0px 0px 2px 0px; for more space below labels */
    padding: 0px 0px 0px 0px;
    font-size: 80%;
    white-space: nowrap;
    background-color: #eee;
}

div.plus-feature,
div.minus-feature {
    position:absolute;
    height: 8px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

div.plus-feature { background-image: url('img/plus-chevron2.png'); }

div.minus-feature { background-image: url('img/minus-chevron2.png'); }

div.hist-feature {
    position: absolute;
    background-color: blue;
    border-color: lightblue;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
}

div.plus-feature2,
div.minus-feature2 {
    position:absolute;
    height: 15px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

div.plus-feature2 { background-image: url('img/plus-herringbone16.png'); }

div.minus-feature2 { background-image: url('img/minus-herringbone16.png'); }

div.hist-feature2 {
    position: absolute;
    background-color: grey;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
}

div.plus-feature3,
div.minus-feature3 {
    position:absolute;
    height: 8px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

div.plus-feature3 { background-image: url('img/plus-chevron.png'); }

div.minus-feature3 { background-image: url('img/minus-chevron.png'); }

div.hist-feature3 {
    position: absolute;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
}

div.plus-feature4,
div.minus-feature4 {
    position:absolute;
    height: 12px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

div.plus-feature4 { background-image: url('img/plus-pacman.png'); }

div.minus-feature4 { background-image: url('img/minus-pacman.png'); }

div.hist-feature4 {
    position: absolute;
    background-color: yellow;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
}

div.hist-exon {
    position: absolute;
    background-color: #4B76E8;
    border-style: solid;
    border-color: #00f;
    border-width: 1px;
    z-index: 10;
}

div.plus-exon,
div.minus-exon {
    position: absolute;
    height: 5px;
    background-color: #4B76E8;
    border-style: solid;
    border-color: #00f;
    border-width: 1px;
    cursor: pointer;
    z-index: 10;
}

div.plus-dblhelix,
div.minus-dblhelix {
    position:absolute;
    height: 11px;
    background-image: url('img/dblhelix-red.png');
    background-repeat: repeat-x;
    min-width: 1px;
    cursor: pointer;
    z-index: 10;
}

div.hist-dblhelix {
    position: absolute;
    background-color: #fcc;
    border-color: #daa;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
}

div.plus-helix,
div.minus-helix {
    position:absolute;
    height: 12px;
    background-image: url('img/helix3-green.png');
    background-repeat: repeat-x;
    min-width: 1px;
    cursor: pointer;
    z-index: 10;
}

div.hist-helix {
    position: absolute;
    background-color: #cfc;
    border-color: #ada;
    border-style: solid;
    border-width: 1px;
    z-index: 10;
}

div.loops {
    position:absolute;
    height: 13px;
    background-image: url('img/loops.png');
    background-repeat: repeat-x;
    cursor: pointer;
}

div.plus-cds1, div.plus-cds2, div.plus-cds3,
div.minus-cds1, div.minus-cds2, div.minus-cds3 {
    position:absolute;
    height: 13px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
}

div.plus-cds1 { background-image: url('img/plus-cds1.png'); }
div.plus-cds2 { background-image: url('img/plus-cds2.png'); }
div.plus-cds3 { background-image: url('img/plus-cds3.png'); }
div.minus-cds1 { background-image: url('img/minus-cds1.png'); }
div.minus-cds2 { background-image: url('img/minus-cds2.png'); }
div.minus-cds3 { background-image: url('img/minus-cds3.png'); }

div.topbracket {
    position:absolute;
    height: 8px;
    border-style: solid solid none solid;
/*    border-width: 2px 2px 0px 2px; */
    border-width: 2px;
    border-color: orange;
/*    margin-top: 2px */
    cursor: pointer;
}

div.bottombracket {
    position:absolute;
    height: 8px;
    border-style: none solid solid solid;
    border-width: 2px;
    border-color: green;
    cursor: pointer;
}

div.hourglass,
div.plus-hourglass,
div.minus-hourglass {
    position:absolute;
    height: 0px;
    border-style: solid;
    border-width: 6px 3px 6px 3px;
    cursor: pointer;
}

div.hgred {
    border-color: #f99 white #f99 white;
}

div.hgblue {
    border-color: #99f white #99f white;
}

div.ibeam {
    position:absolute;
    height: 2px;
    background-color: blue;
    border-style: solid;
    border-width: 8px 4px 8px 4px;
    border-color: white blue white blue;
    cursor: pointer;
}

div.container {
    position: absolute;
    z-index: 0;
}
