.jbrowseHierarchicalTrackSelector {
    background: #fafafa;
    overflow: auto;
}
.jbrowseHierarchicalTrackSelector > h2.title {
    padding: 7px 0 0.5em 6px;
    margin: 0;
}
.jbrowseHierarchicalTrackSelector .trackCount {
    display: inline-block;
    float: right;
}

.jbrowseHierarchicalTrackSelector > .textfilterContainer {
    padding: 0 5px 5px 5px;
}
.jbrowseHierarchicalTrackSelector > .textfilterContainer > .textfilter {
    margin: 0;
}
.jbrowseHierarchicalTrackSelector > .textfilterContainer > .textfilter > input {
    width: 90%;
}

.jbrowseHierarchicalTrackSelector .dijitTitlePaneTitle {
    padding: 0 4px;
}

.jbrowseHierarchicalTrackSelector .dijitTitlePaneTitleFocus:focus {
    outline: none;
}

.jbrowseHierarchicalTrackSelector label.tracklist-label {
    display: block;
}
.jbrowseHierarchicalTrackSelector label.tracklist-label:hover {
    background: #D2E1F1;
}
.jbrowseHierarchicalTrackSelector label.tracklist-label.collapsed {
    display: none;
}

.jbrowseHierarchicalTrackSelector label.tracklist-label input.check {
    position: relative;
    top: 2px;
    margin: 0 4px;
}
.dj_safari .jbrowseHierarchicalTrackSelector label.tracklist-label input.check {
    top: 0;
}

#hierarchicalTrackPane_splitter {
    background: #fafafa;
    width: 5px;
    border-right: 1px solid #555;
}