.jbrowseIconHelp,
.jbrowseIconBusy,
.jbrowseIconLink
{
    background-image: url('img/commonIconsEnabled.png');
    width: 16px;
    height: 16px;
}

.jbrowseIconHelp {
    background-position: 0;
}
.jbrowseIconLink {
    background-position: -152px;
}

.jbrowseIconBusy {
    background-image: url('img/spinner.gif');
}
