.jbrowseIconHelp,
.jbrowseIconBusy,
.jbrowseIconLink,
.jbrowseIconCancel,
.jbrowseIconPlus,
.jbrowseIconMinus,
.jbrowseIconBars
 {
     background-image: url('img/commonIconsEnabled.png');
     width: 16px;
     background-position: -170px;
 }
 
.jbrowseIconPlus {
    background-position: -185px;
}
.jbrowseIconMinus {
    background-position: -202px;
}
.jbrowseIconBars {
    background-position: -219px
}

 .jbrowseIconBusy {
     background-image: url('img/spinner.gif');
 } 