.jbrowseIconHelp,
.jbrowseIconBusy,
.jbrowseIconLink,
.jbrowseIconCancel,
.jbrowseIconPlus,
.jbrowseIconMinus,
.jbrowseIconBars
{
    background-image: url('img/commonIconsEnabled.png');
    width: 16px;
    height: 16px;
}

.dijitDisabled .jbrowseIconHelp,
.dijitDisabled .jbrowseIconBusy,
.dijitDisabled .jbrowseIconLink,
.dijitDisabled .jbrowseIconCancel
{
    background-image: url('img/commonIconsDisabled.png');
    width: 16px;
    height: 16px;
}

.jbrowseIconHelp {
    background-position: 0;
}
.jbrowseIconLink {
    background-position: -152px;
}
.jbrowseIconCancel {
    background-position: -170px;
}

.jbrowseIconPlus {
    background-position: -185px;
}
.jbrowseIconMinus {
    background-position: -202px;
}
.jbrowseIconBars {
    background-position: -219px
}

.jbrowseIconBusy {
    background-image: url('img/spinner.gif');
}
