html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    font-size: 12px;
    font-family: Univers,Trebuchet MS,Helvetica,Arial,sans-serif;
}

.nav {
    vertical-align: middle;
    z-index: 10;
}

input.icon {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

div.container {
    position: absolute;
    z-index: 0;
}

div.dragWindow {
    position:absolute;
    overflow: hidden;
    z-index: 1;
}

div.vertical_scrollbar {
    width: 6px;
    background: #eee;
    background: rgba(235, 235, 235, 0.62);
    border-left: 1px solid #DDD9D9;
}
div.vertical_scrollbar .vertical_position_marker {
    background: #666;
    border-radius: 5px;
    width: 100%;
}

.draggable {
    cursor: move;
}
.rubberBandAvailable {
    cursor: crosshair;
}

#navbox {
    padding-top: 3px;
}

.powered_by {
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}

div.locationTrap {
    position: absolute;
    background-color: #AEC7E3;
    border-color: white white #AEC7E3 white;
    border-style: solid;
    width: 0px;
    height: 0px;
    line-height: 0px;
    z-index: -10;
}

div.locationThumb {
    position: absolute;
    top: 0px;
    /* if you change this border from 2px, change GenomeView.showTrap */
    border: 2px solid red;
    margin: 0px -2px 0px -2px;
    cursor: move;
    background: rgba(0, 121, 245, 0.1);
}

div.locationThumb.dojoMoveItem {
    cursor: move;
}

div.topLink {
    position: absolute;
    right: 0;
    top: 22px;
    z-index: 25;
    background: white;
    border: 1px solid #888;
    border-width: 0 0 1px 1px;
}

a.topLink {
    padding: 0 0.5ex 0 0.5ex;
    text-decoration: none;
    color: blue;
}

div.overview {
    width: 100%;
    padding: 4px 0;
    z-index: -5;

    background: #FAFAFA url(jslib/dijit/themes/tundra/images/titleBar.png) repeat-x top left;

    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #555;

    color:#aaa;
    text-align: center;
    cursor: crosshair;
}

div.block {
    position: absolute;
    overflow: visible;
    top: 0px;
    height: 100%;
}

div.track {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: 5;
}

.track.dojoDndItemOver {
    cursor: inherit;
}

.track.dojoDndItemBefore {
    border-top: 3px solid #999;
    margin-top: -3px;
}

.track.dojoDndItemAfter {
    border-bottom: 3px solid #999;
    margin-bottom: -3px;
}

div#static_track {
    top: 0px;
    position: absolute;
    background: #FAFAFA url(jslib/dijit/themes/tundra/images/titleBar.png) repeat-x top left;
    border-top: 1px solid #999;
    border-bottom: 1px solid #444;
    z-index: 20;
}

div.gridline {
    position: absolute;
    left: 0px;
    top: 0px
    width: 0px;
    height: 100%;
    border-style: none none none solid;
    border-width: 1px;
    border-color: red;
}
div.gridline_major {
    border-color: #bbb;
}
div.gridline_minor {
    border-color: #eee;
}

div.pos-label {
    position: absolute;
    left: -0.35em;
    top: 0px;
    z-index: 100;
    margin: 1px;
}

div.overview-pos {
    position: absolute;
    left: 0px;
    color: black;
    padding-left: 4px;
    font-family: sans-serif;
    border: 0;
}

div.blank-block {
    font-family: sans-serif;
    position: absolute;
    overflow: visible;
    top: 0px;
    height: 100%;
    background-color: #eee;
    z-index: 19;
}

div.sequence {
    position: absolute;
    left: 0px;
    font-family: Courier New,monospace;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 2px;
}
div.sequence .highlighted {
    background: #ff0;
}
div.sequence .revcom {
    color: red;
}

/*
div.minus-feature:before {
    content: attr(fName);
    display: block;
}

div.plus-feature:before {
    content: attr(fName);
    display: inline;
}
*/

div.track-label, div.tracklist-label {
    z-index: 20;

    padding: 1px 6px;
    overflow: hidden;
    cursor: pointer;

    border-width: 1px;
    border-style: solid;

    border-top-color: #999;
    border-left-color: #999;
    border-bottom-color: #555
    border-right-color: #555;

    border-radius: 6px;

    color: #111;
    font-size: 110%;
    font-weight: bold;
}

/* NOTE: browsers that don't support rgba colors will fall back to all
   track labels being #bcbcbc */

div.track-label {
    color: black;

    margin: 5px 0 0 20px;

    border-color: rgba( 0,0,0,0);
    white-space: nowrap;

    background: #FAFAFA url(jslib/dijit/themes/tundra/images/titleBar.png) repeat-x top left;

    border-width: 1px;
    border-color: #666;
    border-color: rgba( 40, 40, 40, 0.6 );
}
div.track-label .track-close-button {
    display: inline-block;
    padding: 4px;
    vertical-align: -20%;
    height: 16px;
    width: 1.3em;
    margin: -3px -3px -4px -6px;
}
.tundra div.track-label .track-close-button {
    background: url("jslib/dijit/themes/tundra/images/tabClose.png") no-repeat 40% 50%;
}
.tundra div.track-label .track-close-button:hover {
    background-image: url("jslib/dijit/themes/tundra/images/tabCloseHover.png");
}
div.track-label:hover {
    border-color: rgba( 0,0,0, 1);
    background-color: #ddd;
    opacity: 1.0;
}
div.tracklist-label {
    padding: 3px;

    background-color: #bcbcbc;
    background-color: rgba( 220, 220, 220, 0.9 );
}

#trackPane {
    background: #f2f2f2;
    background-image: url('img/tracklist_bg.png');
    background-repeat: repeat-y;
    background-position: right;
}
#trackPane h2 {
    margin: 0.5em 0 1em 0.5em;
}
#trackPane_splitter {
    background: #dcdcdc;
    width: 5px;
    border-right: 1px solid #555;
}

a.feature-label {
    color: black;
}


/* .dojoDndItemSelected, .dojoDndItemAnchor { */
/*     background: rgba( 220, 220, 255, 0.8); */
/* } */

div.tracklist-container {
    padding: 2px 5px;
}

.tracklist-container.dojoDndItemBefore {
    border-top: 3px solid #999;
    padding-top: 2px;
}

.tracklist-container.dojoDndItemAfter {
    border-bottom: 3px solid #999;
    padding-bottom: 2px;
}

.feature-label {
    position: absolute;
    border: 0px;
    margin: -2px 0px 0px 0px;
    /* padding: 0px 0px 2px 0px; for more space below labels */
    padding: 0px 0px 0px 0px;
    /* font-size: 80%; */
    white-space: nowrap;
    z-index: 10;
    cursor: pointer;
}

.rubber-highlight {
    border: 1px solid black;
    height: 100%;
    border-color: rgba( 0, 0, 0, 0.6 );
    background-color: #8087ff;
    background-color: rgba( 128, 136, 255, 0.6 );
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.rubber-highlight div {
    color: white;
    padding: 0;
    margin-top: 10px;
    font-size: 160%;
    text-align: center;
    font-weight: bold;
    text-shadow: #6374AB 1px 1px 0;
}
div.overview .rubber-highlight {
    font-size: 0;
    top: -4px;
    height: 21px;
}
div.overview .rubber-highlight * {
    display: none;
}

.icon.nav {
    height: 30px !important;
}

input.nav {
    font-size: 9px !important;
}

.help_dialog {
    font-size: 12px;
    width: 70%;
    overflow: auto;
    z-index: 2000;
}
.help_dialog ul {
    padding-left: 0;
}
.help_dialog div.main {
}
.help_dialog div.main > dl {
    width: 90%;
    margin: 0 auto 1em auto;
}
.help_dialog dt {
    font-weight: bold;
    margin-top: 1em;
}
.help_dialog dd {
    margin-left: 2em;
}
.help_dialog dl dl.searchexample dt,
.help_dialog span.example {
    font-weight: normal;
    font-family: monospace;
}

.fatal_error {
    font-size: 14px;
    margin: 1em;
}
.fatal_error div.error {
    margin: 1px 0px 1px 1em;
    background: #ff8888;
    padding: 2px 6px;
}
