@import url("src/dojox/form/resources/UploaderFileList.css");
.maskDialog {
    color: #333;
    height: 460px;
}

.maskDialog .contentContainer {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.maskDialog .instructions {
    position: absolute;
    top: 22px;
    padding: 10px;
}

.maskDialog .storeSelectors {
    position: relative;
    top: 62px;
    height: 217px;
    padding-bottom: 10px;
}

.maskDialog .selectorContainer {
    float: left;
}

.maskDialog .storeSelections {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 200px;
}

.maskDialog .dijitComboBox {
    width: 160px;
}

.maskDialog .and-or-selector {
    position: relative;
    top: 62px;
    padding-top: 10px;
}

.maskDialog .textFieldContainer {
    position: relative;
    top: 62px;
    padding-top: 10px;
}

.maskDialog .nameField {
    width: 150px;
    padding-left: 3px;
}

.maskDialog .dijitDialogPaneActionBar {
    position: absolute;
    top: 363px;
    left: 3px;
    padding-top: 0px;
    padding-left: 1px;
}

.maskDialog .dijitDialogPaneActionBar .openImmediatelyButton {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-left: 1px;
}

.maskDialog .dijitDialogPaneActionBar .addToTrackListButton {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
}

.maskDialog .canvasContainer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 130px;
    width: 400px;
}