/* css for the mask track creation dialog. */

.maskDialog {
    color: #333;
}

.maskDialog .contentContainer {
    height: 100%;
    width: 100%;
}

.maskDialog .instructions {
    position: relative;
    margin: 2em auto 2em auto;
    width: 600px;
}

.maskDialog .storeSelectors {
    position: relative;
    height: 217px;
    padding: 0 10px 30px 10px;
}

.maskDialog .selectorContainer {
    float: left;
    padding: 0 5px 0 5px;
}

.maskDialog .selectorContainer .selectorTitle {
    font-weight: bold;
}

.maskDialog .storeSelections {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 200px;
    border: 1px;
}

.maskDialog .selectorContainer .selectorDefaultText {
    position: absolute;
    top: 1.5em;
    padding-left: 3px;
    width: 180px;
    color: grey;
    font-style: italic;
    z-index: 99999;
}

.maskDialog .selectorContainer .operationBar {
    margin: 2px 0;
    position: relative;
    text-align: center;
    height: 18px;
    width: 100%;
}

.maskDialog .selectorContainer .button1 {
    border: 1px solid transparent;
    border-radius: 3px;
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}

.maskDialog .selectorContainer .button2 {
    margin: 1px 0;
    float: right;
    width: 16px;
    height: 16px;
}

.maskDialog .dijitComboBox {
    margin: 0 auto;
    height: 16px;
    width: 140px;
}

.maskDialog .dijitComboBox * {
    height: 16px;
}

.maskDialog .and-or-selector {
    display: inline;
    position: relative;
    top: 10px;
    padding: 10px;
}

.maskDialog .textFieldContainer {
    position: relative;
    top: 10px;
    height: 16px;
    padding: 10px;
}

.maskDialog .textFieldContainer .nameField {
    height: 14px;
    width: 150px;
    padding-left: 3px;
}

.maskDialog .dijitDialogPaneActionBar {
    display: inline;
    text-align: left;
    padding-top: 10px;
}

.maskDialog .dijitDialogPaneActionBar .openImmediatelyButton {
    position: relative;
    text-align: left;
    padding: 10px 10px 0 10px;
    height: 16px;
}

.maskDialog .dijitDialogPaneActionBar .addToTrackListButton {
    position: relative;
    text-align: left;
    padding: 10px;
    height: 16px;
}

.maskDialog .dijitDialogPaneActionBar .dijitButton {
    padding-left: 10px;
}

.maskDialog .dijitDialogPaneActionBar .dijitButtonNode {
    height: 16px;
}

.maskDialog .canvasContainer {
    float: right;
    padding: 10px;
    height: 130px;
}

.addManyTracksDialog .trackSelector {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 350px;
}

.addManyTracksDialog .instructions {
    padding-bottom: 10px;
    width: 350px;
}