@import url("src/dojox/form/resources/UploaderFileList.css");
.maskDialog {
    color: #333;
    height: 460px;
}

.maskDialog .contentContainer {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.maskDialog .instructions {
    position: absolute;
    top: 22px;
    padding: 10px;
}

.maskDialog .storeSelectors {
    position: relative;
    top: 62px;
    height: 217px;
    padding-bottom: 10px;
}

.maskDialog .selectorContainer {
    float: left;
    padding-left: 3px;
}

.maskDialog .selectorContainer .selectorTitle {
    border: 2px solid silver;
    font-weight: bold;
}

.maskDialog .storeSelections {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 200px;
    border: 1px;
}

.maskDialog .selectorContainer .dijitButton {
    margin: 0px;
    padding-right: 2px;
    height: 16px;
    margin-top: 2px;
    vertical-align: middle;
}

.maskDialog .selectorContainer .dijitButtonContents {
    height: 15px;
}

.maskDialog .selectorContainer .dijitButtonNode {
    padding: 0px;
}

.maskDialog .selectorContainer .dijitButtonNode * {
    vertical-align: top;
}

.maskDialog .selectorContainer .button1 {
    width: 13px;
    height: 13px;
    padding: 1px;
}

.maskDialog .selectorContainer .button2 {
    width: 26px;
    height: 13px;
    padding: 1px;
    margin-left: 2px;
}

.maskDialog .dijitComboBox {
    height: 15px;
    width: 128px;
    margin-top: 3px;
}

.maskDialog .dijitComboBox .dijitDownArrowButton {
    height: 15px;
}

.maskDialog .and-or-selector {
    position: relative;
    top: 57px;
    padding-top: 10px;
}

.maskDialog .textFieldContainer {
    position: relative;
    height: 16px;
    top: 66px;
    padding-left: 3px;
    margin: 0px;
}

.maskDialog .textFieldContainer .nameField {
    height: 14px;
    width: 150px;
    padding-left: 3px;
}

.maskDialog .dijitDialogPaneActionBar {
    position: absolute;
    bottom: 5px;
    left: 3px;
    padding-top: 0px;
    padding-left: 1px;
}

.maskDialog .dijitDialogPaneActionBar .openImmediatelyButton {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-left: 1px;
    height: 16px;
}

.maskDialog .dijitDialogPaneActionBar .addToTrackListButton {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    height: 16px;
}

.maskDialog .dijitDialogPaneActionBar .dijitButtonNode {
    padding-top: 1px;
    padding-bottom: 1px;
}

.maskDialog .canvasContainer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 130px;
    width: 400px;
}

.plusIcon {
   background-image: url('src/JBrowse/View/MaskDialog/icons/plus.png');
   background-repeat: no-repeat;
   width: 13px;
   height: 13px;
}

.plusIcon2 {
   background-image: url('src/JBrowse/View/MaskDialog/icons/plus.png');
   background-repeat: repeat-x;
   width: 26px;
   height: 13px;
} 

.minusIcon {
   background-image: url('src/JBrowse/View/MaskDialog/icons/minus.png');
   background-repeat: no-repeat;
   width: 13px;
   height: 13px;
}

.addManyTracksDialog .trackSelector {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 350px;
}

.addManyTracksDialog .instructions {
    padding-bottom: 10px;
    width: 350px;
}