/* styles for the top menu bar */
div.menuBar {
    padding: 1px 0;
    height: 25px;
}
.tundra .menuBar {
    background: #396494;
    text-align: right;
}
.tundra .menuBar a {
    color: white;
}
div.topLink {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    background: white;
    border: 1px solid #888;
    border-width: 0 0 1px 1px;
}
div.menuBar a, .topLink a {
    padding: 0 0.8ex;
    text-decoration: none;
}
.menuBar .powered_by {
    float: left;
    font-size: 125%;
    font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: bold;
    line-height: 25px; /* note this line-height should be the same as the fixed height of the menuBar */
    cursor: pointer;
}

.share .icon {
    height: 8px;
    width: 19px;
    display: inline;
    display: inline-block;
    background: url("img/glyphs_white.png") no-repeat -149px -91px;
    margin-right: 2px;
    margin-top: -2px;
    vertical-align: middle;
}
a.topLink, a.topLink * {
    cursor: pointer;
}
.topLink .powered_by {
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}
.menuBar * {
    outline: none;
    vertical-align: top;
}
.tundra .menuBar .dijitButtonNode {
    background: transparent;
}

.tundra .menuBar .dijitButtonNode {
    border: 2px outset rgba( 120, 120, 120, 0.2 );
}
.tundra .menuBar .dijitButtonHover .dijitButtonNode,
.tundra .menuBar .dijitDropDownButtonHover .dijitButtonNode {
    background: rgba( 255, 255, 255, 0.07 );
}
.tundra .menuBar .dijitButtonActive .dijitButtonNode,
.tundra .menuBar .dijitDropDownButtonActive .dijitButtonNode {
    border: 2px inset rgba( 120, 120, 120, 0.2 );
}

.menuBar .dijitButtonNode {
    padding: 0 1em;
}

.menuBar .dijitButtonNode * {
    color: white;
}
.menuBar .config .icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-top: -2px;
    display: inline;
    display: inline-block;
    background: url("img/glyphs_white.png") no-repeat -168px -27px;
    vertical-align: middle;
}


/* dataset selector */
.menuBar > .menu, .menuBar > .dataset_select {
    float: left;
    font-size: 120%;
    color: white;
}
.menuBar > .dataset_select {
    margin: 1px 0 0 1px;
    font-weight: bold;
    height: 100%;
    background: transparent;
    border: none;
}
.menuBar > .dataset_select .dijitSelectLabel {
    padding: 0 0.5em;
    vertical-align: middle;
}
.menuBar > .dataset_select.dijitSelectHover td {
    color: white;
}
.menuBar > .dataset_select .dijitButtonContents {
    background: transparent;
    border-color: transparent;
}
.menuBar > .dataset_select .dijitArrowButtonInner {
    background: url("img/spriteArrows.png") no-repeat scroll -56px center;
}

.tundra .globalMenu .dijitMenuItem td {
    padding: 0.5em 2px 0.5em 5px;
}

.tundra .menuBar > .menu .dijitButtonNode {
    border: none;
}
.tundra .menuBar > .menu.dijitDropDownButton,
.tundra .menuBar > .menu.dijitDropDownButton * {
    margin: 0;
    padding: 0;
    line-height: 25px;
}
.tundra .menuBar > .menu.dijitDropDownButton .dijitButtonNode {
    padding: 0 1em 0 0.7em;
    text-align: left;
}

.tundra .menuBar > .menu .dijitDropDownButtonHover .dijitButtonNode {
    background: rgba( 255, 255, 255, 0.07 );
}
.tundra .menuBar > .menu .dijitDropDownButtonActive .dijitButtonNode {
    border: none;
}
