/* css for the various elements in a region clustering overlay */

.heatmap-container {
    padding: 5px;
    padding-bottom: 10px;
    margin: 5px 0px;
    border: 1px solid silver;
}

.heatmap-container .source-map-container {
    overflow: auto;
    white-space: nowrap;
    margin-top: 5px;
}

.heatmap-container .heatmap-wrapper {
    padding-bottom: 10px;
    padding-right: 10px;
}

.heatmap-container .source-map-container .heatmap-wrapper {
    display: inline-block;
}

.heatmap-container .heatmap-button {
    display: inline;
    padding: 2px 5px;
    width: auto;
    border: 1px solid black;
    border-radius: 3px;
}

.cluster-wait {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    font-style: black;
    z-index: 950;
}

.tracks-per-row {
    margin: 1em 0;
    border-collapse: collapse;
}

.tracks-per-row td {
    padding: 5px;
    border: 1px solid black;
}

.tracks-per-row tr {
    border: 1px solid black;
}