table.sequence {
    position: absolute;
    border-collapse: collapse;
}
table.sequence .highlighted {
    background: #ff0;
}
table.sequence .revcom {
    color: red;
}
table.sequence .base, table.sequence > tr, table.translatedSequence > tr, table.translatedSequence  {
    height: 14px;
    line-height: 14px;
}
table.sequence .base.big {
    border: 1px solid #ccc;
    border-right-color: #333;
    border-bottom-color: #333;
}

table.sequence > tr {
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid black;
    background: #C6C6C6;
}
table.sequence > tr:first-child {
    border-bottom-color: #4d4d4d;
}

table.translatedSequence, table.translatedSequence > td.aminoAcid.big {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;

    border-right: 1px solid #fff;
}

table.translatedSequence {
    position: relative;
    border-width: 0px;
    border-collapse: collapse;
}

.translatedSequence.frame0 {
    background-color: #808080;
    background-color: rgba(64, 64, 64, 0.5);
}

.translatedSequence.frame1 {
    background-color: #B0B0B0;
    background-color: rgba(88, 88, 88, 0.5);
}

.translatedSequence.frame2 {
    background-color: #E0E0E0;
    background-color: rgba(112, 112, 112, 0.5);
}
table.translatedSequence > td.aminoAcid {
    text-align: center;
    z-index: 2000;
}

table.translatedSequence > td.aminoAcid {
    color: black;
    font-family: Courier New,monospace;
    font-weight: bold;
    text-shadow: white 0px 0px 1px;
}

table.translatedSequence > td.aminoAcid_\* {
    background-color: #FF0000;
}

table.translatedSequence > td.aminoAcid_m {
    background-color: #00FF00;
}

td.base {
    text-align: center;
    z-index: 2000;
}
.base {
    color: black;
    font-family: Courier New,monospace;
    font-weight: bold;
    text-shadow: white 0px 0px 1px;
}
.base_n {
    background-color: #C6C6C6;
}
.base_a {
    background-color: #00BF00;
    background-color: rgba( 0, 191, 0, 0.9 );
}
.base_c {
    background-color: #4747ff;
    background-color: rgba( 71, 71, 255, 0.9);
}
.base_t {
    background-color: red;
    background-color: rgba( 255, 0, 0, 0.9);
}
.base_g {
    background-color: #d5bb04;
    background-color: rgba( 213, 187, 4, 0.9);
}
.base_reference {
    background-color: #bbb;
}
.base_deletion {
    background-color: black;
    background-color: #000;
}

div.sequence_blur {
    background: none;
    height: 8px;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #f55;
    border-left-width: 0;
    border-right-width: 0;
    margin-top: 5px;
}
