/** NOTE: avoid using any margins in feature styles */

.basic,
.plus-basic,
.minus-basic {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    min-width: 1px;
}

div.hist {
    position: absolute;
    z-index: 10;
    border: 1px solid transparent;
    border-width: 1px !important;
}

.feature,
.plus-feature,
.minus-feature {
    position:absolute;
    height: 8px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

.feature { background-color: gainsboro }
.plus-feature { background-image: url('img/plus-chevron3.png'); }
.minus-feature { background-image: url('img/minus-chevron3.png'); }

.alignment,
.plus-alignment,
.minus-alignment {
    background-color: #ccc;
    height: 1em;
}
.plus-alignment {
    background-color: #f66;
}
.minus-alignment {
    background-color: #66f;
}
.plus-alignment .mismatch,
.minus-alignment .mismatch {
    font-weight: bold;
}

div.feature-hist {
    background-color: blue;
    border-color: lightblue;
}

.feature2, .plus-feature2, .minus-feature2 {
    position:absolute;
    height: 14px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

.feature2 { background-color: #4fac2a; }
.plus-feature2 { background-image: url('img/plus-herringbone16.png'); }
.minus-feature2 { background-image: url('img/minus-herringbone16.png'); }

div.feature2-hist {
    background-color: #9f9;
    border-color: #ada;
}

.feature3, .plus-feature3, .minus-feature3 {
    position:absolute;
    height: 8px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

.feature3 { background-color: goldenrod }
.plus-feature3 { background-image: url('img/plus-chevron.png'); }
.minus-feature3 { background-image: url('img/minus-chevron.png'); }

div.feature3-hist {
    background-color: yellow;
    border-color: black;
}

.feature4, .plus-feature4, .minus-feature4 {
    position:absolute;
    height: 12px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

.feature4 { background-color: yellow }
.plus-feature4 { background-image: url('img/plus-pacman.png'); }
.minus-feature4 { background-image: url('img/minus-pacman.png'); }

div.feature4-hist {
    background-color: yellow;
    border-color: black;
}

.feature5, .plus-feature5, .minus-feature5 {
    position:absolute;
    height: 8px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
    z-index: 10;
}

.feature5 { background-color: blue }
.plus-feature5 { background-image: url('img/plus-chevron2.png'); }
.minus-feature5 { background-image: url('img/minus-chevron2.png'); }

div.feature5-hist {
    background-color: blue;
    border-color: lightblue;
}

div.exon-hist {
    background-color: #4B76E8;
    border-color: #00f;
}

.exon,
.plus-exon,
.minus-exon {
    position: absolute;
    height: 6px;
    background-color: #4B76E8;
    border-style: solid;
    border-color: #00f;
    border-width: 1px;
    cursor: pointer;
    z-index: 10;
}

div.est-hist {
    background-color: #ED9185;
    border-color: #c33;
}

.est,
.plus-est,
.minus-est {
    position: absolute;
    height: 6px;
    background-color: #ED9185;
}

.dblhelix,
.plus-dblhelix,
.minus-dblhelix {
    position:absolute;
    height: 11px;
    background-image: url('img/dblhelix-red.png');
    background-repeat: repeat-x;
    min-width: 1px;
    cursor: pointer;
    z-index: 10;
}

div.dblhelix-hist {
    background-color: #fcc;
    border-color: #daa;
}

.plus-helix,
.minus-helix {
    position:absolute;
    height: 12px;
    background-image: url('img/helix3-green.png');
    background-repeat: repeat-x;
    min-width: 1px;
    cursor: pointer;
    z-index: 10;
}

div.helix-hist {
    background-color: #cfc;
    border-color: #ada;
}

.loops, .minus-loops, .plus-loops {
    position:absolute;
    height: 13px;
    background-image: url('img/loops.png');
    background-repeat: repeat-x;
    cursor: pointer;
}

.plus-cds, .minus-cds {
    position:absolute;
    height: 13px;
    background-repeat: repeat-x;
    cursor: pointer;
    min-width: 1px;
}

.plus-cds_phase0 { background-image: url('img/plus-cds0.png'); }
.plus-cds_phase1 { background-image: url('img/plus-cds1.png'); }
.plus-cds_phase2 { background-image: url('img/plus-cds2.png'); }
.minus-cds_phase0 { background-image: url('img/minus-cds0.png'); }
.minus-cds_phase1 { background-image: url('img/minus-cds1.png'); }
.minus-cds_phase2 { background-image: url('img/minus-cds2.png'); }

div.cds-hist {
    background-color: #fcc;
    border-color: #daa;
}

.topbracket {
    position:absolute;
    height: 8px;
    border-style: solid solid none solid;
    border-width: 2px;
    border-color: orange;
    cursor: pointer;
}

.bottombracket {
    position:absolute;
    height: 8px;
    border-style: none solid solid solid;
    border-width: 2px;
    border-color: green;
    cursor: pointer;
}

.hourglass, .plus-hourglass, .minus-hourglass {
    position:absolute;
    height: 0px;
    border-style: solid;
    border-width: 6px 3px 6px 3px;
    cursor: pointer;
}

.triangle, .plus-triangle, .minus-triangle {
    position:absolute;
    height: 0px;
    border-style: solid;
    border-width: 6px 3px 0px 3px;
    cursor: pointer;
}

.hgred {
    border-color: #f99 white #f99 white;
}
div.hgred-hist {
    background-color: #daa;
    border-color: #d44;
}

.hgblue {
    border-color: #99f white #99f white;
}
div.hgblue-hist {
    background-color: #aad;
    border-color: #99f;
}

.ibeam, .plus-ibeam, .minus-ibeam {
    position:absolute;
    height: 2px;
    background-color: blue;
    border-style: solid;
    border-width: 8px 4px 8px 4px;
    border-color: white blue white blue;
    cursor: pointer;
}

div.transcript-hist {
    background-color: #ddd;
    border-color: #FF9185;
}

.transcript,
.plus-transcript,
.minus-transcript {
    position: absolute;
    height: 4px;
    background-color: #999;
    z-index: 6;
    min-width: 1px;
    cursor: pointer;
}

.plus-transcript-arrowhead,
.plus-arrowhead {
    position: absolute;
    width: 7px;
    height: 12px;
    background-image: url('img/plus-arrowhead.png');
    background-repeat: no-repeat;
}

.minus-transcript-arrowhead,
.minus-arrowhead {
    position: absolute;
    width: 7px;
    height: 12px;
    background-image: url('img/minus-arrowhead.png');
    background-repeat: no-repeat;
}

.plus-transcript-CDS,
.minus-transcript-CDS {
    position: absolute;
    height: 12px;
    background-image: url('img/cds.png');
    background-repeat: repeat-x;
    cursor: pointer;
    z-index: 10;
    min-width: 1px;
}

.plus-transcript-exon,
.minus-transcript-exon,
.plus-transcript-UTR, 
.minus-transcript-UTR,
.plus-transcript-five_prime_UTR,
.minus-transcript-five_prime_UTR,
.plus-transcript-three_prime_UTR,
.minus-transcript-three_prime_UTR {
    position: absolute;
    height: 4px;
    background-color: #B66;
    border-style: solid;
    border-color: #D88;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

.generic_parent,
.plus-generic_parent,
.minus-generic_parent {
    position: absolute;
    height: 4px;
    background-color: #AAA;
    z-index: 6;
    min-width: 1px;
    cursor: pointer;
}

div.generic_parent-hist {
    background-color: #ddd;
    border-color: #555;
}

.match_part,
.plus-match_part,
.minus-match_part {
    position: absolute;
    height: 4px;
    background-color: #66B;
    border-style: solid;
    border-color: #88D;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}

.generic_part_a,
.plus-generic_part_a,
.minus-generic_part_a {
    position: absolute;
    height: 4px;
    background-color: #6B6;
    border-style: solid;
    border-color: #8D8;
    border-width: 2px 0px 2px 0px;
    z-index: 8;
    min-width: 1px;
    cursor: pointer;
}


/* floating score display for wiggle tracks */
.wiggleValueDisplay {
    background: rgba(255,255,255,0.9);
    border: 1px solid #aaa;
    padding: 2px;
    font-family: Courier New, monospace;
    font-weight: bold;
}

.trackVerticalPositionIndicator {
    background: #999;
}