/* css for the mask track creation dialog. */

.wiggleStatsDialog {
    color: #333;
}

.wiggleStatsDialog .contentContainer {
    height: 100%;
    width: 100%;
}

.wiggleStatsDialog .instructions {
    position: relative;
    margin: 2em auto;
    width: 250px;
}

.wiggleStatsDialog .storeSelectors {
    height: 217px;
    padding: 0 10px;
}

.wiggleStatsDialog .selectorContainer {
    margin: 0 3em;
    position: relative;
    display: inline-block;
}

.wiggleStatsDialog .selectorContainer .selectorTitle {
    font-weight: bold;
}

.wiggleStatsDialog .storeSelections {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 200px;
    border: 1px;
}

.wiggleStatsDialog .selectorContainer .selectorDefaultText {
    position: absolute;
    top: 1.5em;
    padding-left: 3px;
    width: 180px;
    color: grey;
    font-style: italic;
    z-index: 99999;
}

.wiggleStatsDialog .selectorContainer .operationBar {
    margin: 2px 0;
    position: relative;
    text-align: center;
    height: 18px;
    width: 100%;
}

.wiggleStatsDialog .selectorContainer .button1 {
    border: 1px solid transparent;
    border-radius: 3px;
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}

.wiggleStatsDialog .selectorContainer .button2 {
    margin: 1px 0;
    float: right;
    width: 16px;
    height: 16px;
}

.wiggleStatsDialog .dijitComboBox {
    margin: 0 auto;
    height: 16px;
    width: 140px;
}

.wiggleStatsDialog .dijitComboBox * {
    height: 16px;
}

.wiggleStatsDialog .textFieldContainer {
    position: relative;
    top: 10px;
    height: 16px;
    padding: 10px;
}

.wiggleStatsDialog .textFieldContainer .title-container {
    padding-left: 3px;
}

.wiggleStatsDialog .textFieldContainer .title-container-text {
    display: inline;
    float: left;
    padding-right: 5px;
}

.wiggleStatsDialog .textFieldContainer .nameField {
    float: left;
    height: 14px;
    padding-left: 3px;
}

.wiggleStatsDialog .actionBar {
    display: inline;
    text-align: left;
    padding: 10px auto;
    height: 100%;
}

.wiggleStatsDialog .actionBar .openImmediatelyButton {
    position: relative;
    text-align: left;
    padding: 10px 10px 0 10px;
    height: 16px;
}

.wiggleStatsDialog .actionBar .addToTrackListButton {
    position: relative;
    text-align: left;
    padding: 10px 10px 0 10px;
    height: 16px;
}

.wiggleStatsDialog .actionBar .buttonContainer {
    text-align: center;
}

.wiggleStatsDialog .actionBar .dijitButton {
    padding: 10px 2px;
}

.wiggleStatsDialog .actionBar .dijitButtonNode {
    height: 16px;
}

.addManyTracksDialog .trackSelector {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 350px;
}

.addManyTracksDialog .instructions {
    padding-bottom: 10px;
    width: 350px;
}

.wiggleStatsLegendBox {
    height: 1em;
    width: 1em;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 15px;
    z-index: 20;
    font-weight: bold;
    font-size: 16px;
    color: #8cb1dd;
    text-align: center;
    line-height: 1em;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
}

.wiggleStatsLegendBox .legend {
    position: absolute;
    bottom: 100%;
    left: 100%;
}