@import url("src/dojox/form/resources/UploaderFileList.css");
.wiggleStatsDialog {
    color: #333;
    height: 430px;
}

.wiggleStatsDialog .contentContainer {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.wiggleStatsDialog .instructions {
    position: absolute;
    top: 22px;
    padding: 10px;
}

.wiggleStatsDialog .storeSelectors {
    position: relative;
    top: 62px;
    height: 217px;
    padding-bottom: 10px;
}

.wiggleStatsDialog .selectorContainer {
    float: left;
    padding-left: 3px;
}

.wiggleStatsDialog .selectorContainer .selectorTitle {
    border: 2px solid silver;
    font-weight: bold;
}

.wiggleStatsDialog .operationBar {
    position: absolute;
}

.wiggleStatsDialog .storeSelections {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 350px;
    border: 1px;
}

.wiggleStatsDialog .selectorContainer .dijitButton {
    margin: 0px;
    padding-right: 2px;
    height: 16px;
    margin-top: 2px;
    vertical-align: middle;
}

.wiggleStatsDialog .selectorContainer .dijitButtonContents {
    height: 15px;
}

.wiggleStatsDialog .selectorContainer .dijitButtonNode {
    padding: 0px;
}

.wiggleStatsDialog .selectorContainer .dijitButtonNode * {
    vertical-align: top;
}

.wiggleStatsDialog .selectorContainer .button1 {
    width: 13px;
    height: 13px;
    padding: 1px;
}

.wiggleStatsDialog .selectorContainer .button2 {
    width: 26px;
    height: 13px;
    padding: 1px;
    margin-left: 2px;
}

.wiggleStatsDialog .dijitComboBox {
    height: 15px;
    width: 160px;
    margin-top: 3px;
}

.wiggleStatsDialog .dijitComboBox .dijitDownArrowButton {
    height: 15px;
}

.wiggleStatsDialog .textFieldContainer {
    position: relative;
    height: 16px;
    top: 66px;
    padding-left: 3px;
    margin: 0px;
}

.wiggleStatsDialog .textFieldContainer .nameField {
    height: 14px;
    width: 150px;
    padding-left: 3px;
}

.wiggleStatsDialog .dijitDialogPaneActionBar {
    position: absolute;
    bottom: 5px;
    left: 3px;
    padding-top: 0px;
    padding-left: 1px;
}

.wiggleStatsDialog .dijitDialogPaneActionBar .openImmediatelyButton {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-left: 1px;
    height: 16px;
}

.wiggleStatsDialog .dijitDialogPaneActionBar .addToTrackListButton {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    height: 16px;
}

.wiggleStatsDialog .dijitDialogPaneActionBar .dijitButtonNode {
    padding-top: 1px;
    padding-bottom: 1px;
}

.plusIcon {
   background-image: url('src/JBrowse/View/MaskDialog/icons/plus.png');
   background-repeat: no-repeat;
   width: 13px;
   height: 13px;
}

.plusIcon2 {
   background-image: url('src/JBrowse/View/MaskDialog/icons/plus.png');
   background-repeat: repeat-x;
   width: 26px;
   height: 13px;
} 

.minusIcon {
   background-image: url('src/JBrowse/View/MaskDialog/icons/minus.png');
   background-repeat: no-repeat;
   width: 13px;
   height: 13px;
   text-align: top;
}

.wiggleStatsLegendBox {
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-bottom: 15px;
    z-index: 20;
    font-weight: bold;
    font-size: 16px;
    color: #8cb1dd;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
}

.wiggleStatsLegendBox .legend {
    position: absolute;
    bottom: 100%;
    left: 100%;
}

.addManyTracksDialog .trackSelector {
    position: relative;
    background-color: #8cb1dd;
    height: 180px;
    width: 350px;
}

.addManyTracksDialog .instructions {
    padding-bottom: 10px;
}