.jbrowseIconHelp,
.jbrowseIconBusy,
.jbrowseIconLink,
.jbrowseIconCancel,
.jbrowseIconHighlight,
.jbrowseIconClose
{
    background-image: url('../../base/img/sprites.png');
    width: 16px;
    height: 16px;

    .dijitDisabled & {
      background-image: url('../../base/img/sprites_disabled.png');
    }
}

.jbrowseIconHelp {
    background-position: 0;
}
.jbrowseIconLink {
    background-position: -152px;
}
.jbrowseIconCancel {
    background-position: -170px;
}
.jbrowseIconBusy {
    background-image: url('../img/spinner.gif');
}
.jbrowseIconHighlight {
    background-position: -186px;
}
.jbrowseIconClose {
    background-position: -178px -96px;
}

