/* main application CSS styles */
@import "../../../src/dijit/themes/tundra/tundra.css";
@import "../../../src/dojo/resources/dojo.css";
@import "browser.scss";
@import "regionbrowser.scss";
@import "reference_set_pane.scss";
@import "sequence.scss";
@import "menubar.scss";
@import "icons.scss";
@import "file_dialog.scss";
@import "combination_tracks.scss";
@import "export_dialog.scss";
@import "keyring.scss";
@import "prompt_dialog.scss";
@import "send_to.scss";
@import "error_dialog.scss";
@import "datahub_manager.scss";

@import "track_styles.scss";

@import "hierarchical_track_selector.scss";

@import "maker.scss";
