@import "../../base/scss/main.scss";
@import "palette.scss";

/* Import some Open Sans font faces */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

.jbrowse.metro {
    font-family: Open Sans, sans-serif;

    .dijitSplitterH {
        height: 4px;
        margin-bottom: -3px;
        background: none;
    }

    .pane-position, .pane-size {
        background: #d5d5d5;
        color: #353535;
        font-weight: bold;
    }
    .pane-position:hover {
        background: #4284D3;
        color: white;
        border: 1px solid #EEE;
        border-top: 1px solid #4284D3;
        height: 16px;
    }
    .nav-controls .zoomSliderText {
        color: white;
    }

    div.message {
        border: none;
        background: #afafaf;
    }

    .gridline_refseq_end {
        border-width: 2px;
        border-color: #222;
        -moz-box-shadow: 4px 4px 10px 3px rgba( 30, 30, 50, 0.3 );
        -webkit-box-shadow: 4px 4px 10px 3px rgba( 30, 30, 50, 0.3 );
        box-shadow: 4px 4px 10px 3px rgba( 30, 30, 50, 0.3 );
    }
}

@import "regionbrowser.scss";
@import "menubar.scss";
@import "reference_set_pane.scss";
@import "datahub_manager.scss";
