.jbrowse.metro {

  .menuBar {
      background: #333;
      text-align: right;
      height: 30px;
      line-height: 30px;
      padding: 0;
  }

  .menuBar .powered_by {
      position: relative;
      top: 5px;
  }

  .menuBar > .dijitDropDownButton {
      line-height: 30px;
  }

  .menuBar .dijitButtonNode {
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
  }

  .menuBar > .dataset_select .dijitButtonNode {
      padding: 0;
  }

  .menuBar > .dataset_select {
      height: 25px;
  }

  .menuBar > .dataset_select .dijitSelectLabel {
      padding-right: 0.1em;
      font-size: 16px;
  }

  .menuBar .menuBarControl {
      font-size: 120%;
  }

   .keyring .icon {
      height: 26px;
      width: 13px;
      background: url("../img/sprites.png") no-repeat -44px 0;
  }

  .share .icon {
      height: 26px;
      width: 25px;
      background: url("../img/sprites.png") no-repeat -15px 0;
  }
}