$Blue: rgb(66,132,211);
$Dark_Blue: rgb(5,54,113);
$Light_Blue: rgb(173,197,227);
$Really_light_Blue: rgb(224,234,249);
$Green: rgb(74,232,58);
$Dark_Green: rgb(13,141,0);
$Light_Green: rgb(142,232,133);
$Really_light_Green: rgb(227,249,224);
$Red: rgb(253,63,73);
$Dark_Red: rgb(169,0,8);
$Light_Red: rgb(253,140,146);
$Really_light_Red: rgb(253,228,228);
$Yellow: rgb(255,228,64);
$Light_Yellow: rgb(255,242,163);
$Really_light_Yellow: rgb(255,252,230);
$Black: rgb(0,0,0);
$Gray_90pct: rgb(26,26,26);
$Gray_80pct: rgb(51,51,51);
$Gray_70pct: rgb(77,77,77);
$Gray_60pct: rgb(102,102,102);
$Gray_50pct: rgb(128,128,128);
$Gray_40pct: rgb(153,153,153);
$Gray_30pct: rgb(179,179,179);
$Gray_20pct: rgb(204,204,204);
$Gray_10pct: rgb(230,230,230);
$Gray_7_5pct: rgb(236,236,236);
$Gray_5pct: rgb(242,242,242);
$Gray_2_5pct: rgb(249,249,249);
$White: rgb(255,255,255);

$UI_Button: #d5d5d5;
$UI_Gray: #e6e6e6;
$UI_DarkGray: #aaa;
$UI_DarkBackground: #353535;

