@import "palette.scss";

.jbrowse.metro {
    .referenceSetPane, .referenceSetPaneNoGutter {
        .header {
            background: $Dark_Blue;
            padding: 2px 3px;

            .title {
                color: white;
                font-size: 16px;
            }
            .referenceSetName {
                font-weight: bold;
            }
        }
    }
}
