.jbrowse.metro {
    .regionBrowserPane, .regionBrowserPaneNoGutter {
        background: #353535;;

        .gridlines .renderingBlock {
            background: white;
        }

        .topBar {
            height: 29px;
            color: #333;
            width: 100%;

            .dijitButton {
                background: #d5d5d5;
                margin: 0;
                width: 22px;
                height: 20px;
                position: relative;
            }

            .dijitButtonNode {
                background: #d5d5d5;
                height: 19px;
                border: 0;
            }

            .dijitDownArrowButton {
                position: relative;
            }

            tr > td  {
                overflow: hidden;
            }
        }

        .viewScale {
            height: 17px;
            .renderingBlock {
                height: 14px;
                bottom: 3px;
                border-color: rgba( 0, 0, 0, 0.3 );
            }
            .posLabel, .referenceLabel {
                bottom: 0;
                font-size: 13px;
            }
            .posLabel {
                text-align: center;
                overflow: visible;
                width: 1px;
                height: 3px;
            }
            .referenceLabel {
                padding: 0 4px 2px 2px;
                font-weight: bold;
                span {
                    margin-top: -8px;
                    height: 13px;
                    top: 50%;
                    display: block;
                    position: relative;
                }
            }
        }

        .dragWindow {
            top: 29px;
        }

        &.colorScheme1 {
            .topBar, .viewScale .renderingBlock {
                background: #e6e6e6;
            }
            .topBar {
                border-top: 1px solid #393939;
            }
            .viewScale {
                background: url("../img/view_top_bg_1.png") transparent repeat-x 0 100%;
                .referenceLabel {
                    background: #bbb;
                }
                .posLabel {
                    background: #6f6f6f;
                }
            }
        }
        &.colorScheme2 {
            .topBar, .viewScale .renderingBlock {
                background: #4687d4;
            }
            .topBar {
                border-top: 1px solid #315e94;
            }
            .viewScale {
                background: url("../img/view_top_bg_2.png") transparent repeat-x 0 100%;
                color: white;
                .referenceLabel {
                    background: #002f69;
                }
                .posLabel {
                    background: #2c5b86;
                }
            }
        }


        .viewLabel {
            font-weight: bold;
            font-size: 16px;
            padding: 0 2em 0 5px;
            white-space: nowrap;
        }

        .controlGroup {
            position: relative;

            display: block;
            height: 20px;
            background: #fafafa;
            /* border: 1px solid #979797; */
            border: 1px solid rgba( 20, 20, 20, 0.6 );

            font-size: 13px;
            line-height: 10px;

            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;

            overflow: hidden;
        }

        .panControls {
            width: 79px;
        }
        .panControls .panSeparator {
            background: #e4e4e4;
            position: absolute;
            height: 12px;
            width: 1px;
            left: 39px;
            margin-top: -6px;
            top: 50%;
        }
        .panControls .panLeft {
            height: 100%;
            width: 35px;
            position: absolute;
            left: 0;
            background-image: url("../img/pan-left.png");
            background-repeat: no-repeat;
            background-position: 8px 0;
        }
        .panControls .panRight {
            height: 100%;
            width: 35px;
            position: absolute;
            right: 0;
            background-image: url("../img/pan-right.png");
            background-repeat: no-repeat;
            background-position: 8px 0;
        }


        .zoomControls {
            width: 198px;
        }

        .zoomControls .zoomIn {
            height: 24px;
            width: 35px;
            position: absolute;
            right: 0;
            background-image: url("../img/zoom-in-1.png");
            background-repeat: no-repeat;
            background-position: 8px 0;
        }
        .zoomControls .zoomOut {
            height: 24px;
            width: 35px;
            position: absolute;
            left: 0;
            background-image: url("../img/zoom-out-1.png");
            background-repeat: no-repeat;
            background-position: 8px 1px;

        }
        .zoomControls .zoomSliderContainer {
            height: 0;
        }
        .zoomControls .zoomSliderText {
            display: none;
        }

        .zoomControls .dijitSliderH {
            border-color: #cecece;
            background: #3f3f3f;
            width: 100px;
        }
        .zoomControls .dijitSliderRemainingBarH,
        .zoomControls .dijitSliderProgressBarH,
        .zoomControls .dijitSliderLeftBumper,
        .zoomControls .dijitSliderRightBumper
        {
            border-color: transparent;
            background: transparent;
        }

        .zoomControls .dijitSliderImageHandleH {
            width: 5px;
            height: 14px;
            background: #3f3f3f;
            border: 1px solid #cecece;
            top: -6px;
        }


        .trackSelect {
            width: 21em;
        }
        .trackSelect > * {
            width: 100%;
            position: relative;
            border: 0;

            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
        }
        /* make the combobox button be on the left instead of the right */
        .trackSelect .dijitArrowButtonContainer {
            float: left;
            white-space: nowrap;
        }
        .trackSelect .dijitArrowButtonContainer input {
            float: none;
            vertical-align: top;
        }

        .trackSelect .dijitPlaceHolder {
            margin-left: 0.4em;
        }
    }

    .searchControls {
        /** search box and location controls */
            width: 213px;
        /* border: 1px solid #979797; */

        /* -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35); */
        /* -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35); */
        /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35); */


            .dijitButtonNode {
                padding: 0;
            }

            .dijitInputField {
                padding: 0 0.25em;
            }

            .dijitSelect,
            .dijitTextBox,
            .dijitButton
            {
                border: 0;
            }
            .dijitTextBox {
            }

           .dijitButton  {
            }
            .dijitButton .dijitButtonNode {
                background: url("../img/search.png") #d5d5d5 no-repeat 0 -2px;
                width: 22px;
            }
    }
}