.jbrowse.metro .jbrowseGenomeView .topBar {
    height: 29px;
    color: #333;
}
.jbrowse.metro .jbrowseGenomeView .topBar > table {
    width: 100%;
}
.jbrowse.metro .jbrowseGenomeView .topBar > table > tr > td  {
    overflow: hidden;
}
.jbrowse.metro .jbrowseGenomeView .topBar > table > tr > td > * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.jbrowse.metro .jbrowseGenomeView .dragWindow {
    top: 29px;
}
.jbrowse.metro .jbrowseGenomeView.colorScheme1 .topBar {
    background: #e6e6e6;
    border-top: 1px solid #393939;
}
.jbrowse.metro .jbrowseGenomeView.colorScheme1 .viewscale {
    background: url("img/view_top_bg_1.png") #e6e6e6 repeat-x 0 100%;
}
.jbrowse.metro .jbrowseGenomeView.colorScheme2 .topBar {
    background: #4687d4;
    border-top: 1px solid #315e94;
}
.jbrowse.metro .jbrowseGenomeView.colorScheme2 .viewscale {
    background: url("img/view_top_bg_2.png") #4687d4 repeat-x 0 100%;
    color: white;
}

.jbrowse.metro .jbrowseGenomeView .viewscale {
    height: 16px;
}

.jbrowse.metro .jbrowseGenomeView .viewscale .pos-label {
    position: relative;
    left: -0.35em;
    top: -4px;
    z-index: 100;
    font-size: 13px;
}

/* .jbrowse.metro .jbrowseGenomeView .viewLabelContainer { */
/* } */
.jbrowse.metro .jbrowseGenomeView .viewLabel {
    font-weight: bold;
    font-size: 16px;
    padding: 0 2em 0 5px;
}

/** search box and location controls */
.jbrowse.metro .searchControls {
    display: inline-block;

    /* border: 1px solid #979797; */

    height: 24px;

    font-size: 16px;
    line-height: 22px;

    /* -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35); */
    /* -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35); */
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35); */
}

.jbrowse.metro .searchControls .dijitButtonNode {
    padding: 0;
}

.jbrowse.metro .searchControls .dijitInputField {
    padding: 0 0.25em;
}

.jbrowse.metro .searchControls .dijitSelect,
.jbrowse.metro .searchControls .dijitTextBox,
.jbrowse.metro .searchControls .dijitButton
 {
    height: 22px;
    position: relative;
    top: -2px;
    border: 0;
}

.jbrowse.metro .topBar .dijitButton {
   background: #d5d5d5;
   margin: 0;
   width: 22px;
}
.jbrowse.metro .topBar .dijitButtonNode {
   background: #d5d5d5;
   border: 0;
}
.jbrowse.metro .searchControls .dijitButton .dijitButtonNode {
    position: relative;
    top: -1px;
   background: url("img/search.png") #d5d5d5 no-repeat 0 0;
   width: 22px;
}



.jbrowse.metro .jbrowseGenomeView .zoomControls,
.jbrowse.metro .jbrowseGenomeView .panControls,
.jbrowse.metro .jbrowseGenomeView .searchControls,
.jbrowse.metro .jbrowseGenomeView .trackSelect
 {
    background: #fafafa;
    /* border: 1px solid #979797; */
    border: 1px solid rgba( 20, 20, 20, 0.6 );
}

.jbrowse.metro .jbrowseGenomeView .panControls {
    height: 24px;
    width: 79px;
}
.jbrowse.metro .jbrowseGenomeView .panControls .panSeparator {
    background: #e4e4e4;
    position: absolute;
    height: 14px;
    width: 1px;
    left: 39px;
    top: 5px;
}
.jbrowse.metro .jbrowseGenomeView .panControls .panLeft {
    height: 24px;
    width: 35px;
    position: absolute;
    left: 0;
    background-image: url("img/pan-left.png");
    background-repeat: no-repeat;
    background-position: 8px 2px;
}
.jbrowse.metro .jbrowseGenomeView .panControls .panRight {
    height: 24px;
    width: 35px;
    position: absolute;
    right: 0;
    background-image: url("img/pan-right.png");
    background-repeat: no-repeat;
    background-position: 8px 2px;
}


.jbrowse.metro .jbrowseGenomeView .zoomControls {
    height: 24px;
    width: 198px;
}

.jbrowse.metro .jbrowseGenomeView .zoomControls .zoomIn {
    height: 24px;
    width: 35px;
    position: absolute;
    right: 0;
    background-image: url("img/zoom-in-1.png");
    background-repeat: no-repeat;
    background-position: 8px 2px;
}
.jbrowse.metro .jbrowseGenomeView .zoomControls .zoomOut {
    height: 24px;
    width: 35px;
    position: absolute;
    left: 0;
    background-image: url("img/zoom-out-1.png");
    background-repeat: no-repeat;
    background-position: 8px 3px;

}
.jbrowse.metro .jbrowseGenomeView .zoomControls .zoomSliderText {
    display: none;
}

.jbrowse.metro .jbrowseGenomeView .zoomControls .dijitSliderH {
    border-color: #cecece;
    background: #3f3f3f;
}
.jbrowse.metro .jbrowseGenomeView .zoomControls .dijitSliderRemainingBarH,
.jbrowse.metro .jbrowseGenomeView .zoomControls .dijitSliderProgressBarH,
.jbrowse.metro .jbrowseGenomeView .zoomControls .dijitSliderLeftBumper,
.jbrowse.metro .jbrowseGenomeView .zoomControls .dijitSliderRightBumper
{
    border-color: transparent;
    background: transparent;
}

.jbrowse.metro .jbrowseGenomeView .zoomControls .dijitSliderImageHandleH {
    width: 5px;
    height: 17px;
    background: #3f3f3f;
    border: 1px solid #cecece;
    top: -7px;
}


.jbrowse.metro .jbrowseGenomeView .trackSelect {
    height: 24px;
    width: 15em;
    font-size: 16px;
}
.jbrowse.metro .jbrowseGenomeView .trackSelect > * {
    width: 100%;
    position: relative;
    top: -1px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}




