@import url('../base/main.css');
@import url('menubar.css');

.jbrowse.metro .pane-position {
    background: #d5d5d5;
    color: #353535;
    font-weight: bold;
    font-size: 10px;
}
.jbrowse.metro .pane-position:hover {

}