@import url('../base/main.css');
@import url('menubar.css');

.jbrowse.metro .pane-position, .jbrowse.metro .pane-size {
    background: #d5d5d5;
    color: #353535;
    font-weight: bold;
}
.jbrowse.metro .pane-position:hover {
    background: #4284D3;
    color: white;
    border: 1px solid #EEE;
    height: 16px;
}
