
.dijitRtl .dijitCalendarDecrease {
	background-position: -30px top;
}
.dijitRtl .dijitCalendarIncrease {
	background-position: 0px top;
}
.dj_ie6 .dijitRtl .dijitCalendarIncrease {
	background-position: 0px top;
}
.dj_ie6 .dijitRtl .dijitCalendarDecrease {
	background-position: -30px top;
}
