
.dijitRtl .dijitMenuItem .dijitMenuItemIcon {
	padding-left: 3px;
	padding-right: 0px;
}
.dijitRtl .dijitMenuItem .dijitMenuExpandEnabled {
	background-image:url('images/arrowLeft.png');
}
.dj_ie6 .dijitRtl .dijitMenuItem .dijitMenuExpandEnabled {
	background-image:url('images/arrowLeft.gif'); 
}
