/** 
 * dijit.layout.TitlePane 
 *
 */ 
 
.soria .dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url("images/titleBar.png") repeat-x top left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	color: #6d6d6d;
}

/* TODO: merge these, and all other icons to a series of background-image:() and background-position: -16*n px styles */
.soria .dijitTitlePane .dijitArrowNode {
	width:15px;
	height:15px;
	float:right;
	margin-top: -2px;
}

.soria .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	color: #243C5F;
}


.soria .dijitOpen .dijitTitlePaneTextNode {
	color: #243C5F;
}

.soria .dijitTitlePane .dijitClosed .dijitArrowNode {
	background: url('images/spriteRoundedIconsSmall.png') no-repeat top left;
}
.dj_ie6 .soria .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat top left;
}
.soria .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.png') no-repeat -15px top;
}
.dj_ie6 .soria .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/spriteRoundedIconsSmall.gif') no-repeat -15px top;
}
.soria .dijitTitlePane .dijitArrowNodeInner {
	visibility:hidden;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	visibility:visible;
}

.soria .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	margin-right:5px;
}

.soria .dijitOpen .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	position:relative;
	top:2px;
}

.soria .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 0px solid #3d3d3d;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
}
.soria .dijitTitlePaneContentInner {
	padding:10px;
}
/* force hasLayout to ensure borders etc, show up */
.dj_ie6 .soria .dijitTitlePaneContentOuter,
.dj_ie6 .soria .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.soria .dijitClickableRegion {
	background-color : #ffc !important;
}
