.keyringPane {
  /* background: #2a2a2a; */
  background: #333;
  border: 1px solid #868686;
  border-top-width: 0;
  width: 232px;
  padding: 5px 5px 0 5px;
  font-size: 14px; }

.credentialStatus {
  background: white;
  position: relative;
  border: 1px solid #acacac;
  height: 57px;
  margin-bottom: 5px; }
  .credentialStatus .releaseButton {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    height: 11px;
    width: 10px;
    color: #808080; }
  .credentialStatus .icon, .credentialStatus .label {
    float: left; }
  .credentialStatus .label {
    width: 70%; }
  .credentialStatus .icon, .credentialStatus .label, .credentialStatus .status, .credentialStatus .message {
    background: transparent;
    border: none; }
  .credentialStatus .status, .credentialStatus .icon {
    /* clickable */
    cursor: pointer; }
  .credentialStatus .icon {
    height: 49px;
    width: 49px;
    margin: 4px; }
  .credentialStatus .displayedData {
    color: #333;
    float: left; }
  .credentialStatus .slotName {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-weight: bold;
    color: #666; }
  .credentialStatus.credentialReady .releaseButton {
    display: block; }
  .credentialStatus.credentialReady .icon {
    background: #12aa40; }
  .credentialStatus.credentialReady .status {
    color: #00c437; }
  .credentialStatus.credentialNotReady .icon {
    background: #666; }
  .credentialStatus.credentialNotReady .status {
    color: #808080;
    font-style: italic;
    margin-top: 0.5em; }
