.keyringPane {
  /* background: #2a2a2a; */
  background: #333;
  border: 1px solid #868686;
  border-top-width: 0;
  width: 232px;
  padding: 5px 5px 0 5px;
  font-size: 14px; }
  .keyringPane .emptyMessage {
    display: none;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 0.3em 0; }
  .keyringPane.empty .emptyMessage {
    display: block; }

.credentialStatus {
  background: white;
  position: relative;
  border: 1px solid #acacac;
  height: 57px;
  margin-bottom: 5px;
  overflow: hidden; }
  .credentialStatus .releaseButton {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    height: 11px;
    width: 10px;
    color: #808080;
    font-family: Arial, sans-serif;
    font-size: 15px;
    cursor: pointer; }
  .credentialStatus .slotIcon {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 3px;
    background: transparent; }
  .credentialStatus .picture, .credentialStatus .label {
    float: left; }
  .credentialStatus .label {
    width: 70%;
    margin-top: 4px; }
  .credentialStatus .picture, .credentialStatus .label, .credentialStatus .status, .credentialStatus .message {
    background: transparent;
    border: none; }
  .credentialStatus .error, .credentialStatus .message {
    font-size: 10px; }
  .credentialStatus .message {
    color: #333;
    display: none; }
  .credentialStatus .error {
    display: none;
    padding: 0; }
  .credentialStatus .picture {
    height: 49px;
    width: 49px;
    margin: 4px; }
  .credentialStatus .displayedData {
    color: #333;
    float: left; }
  .credentialStatus .slotType {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4px;
    font-weight: bold;
    color: #666; }
  .credentialStatus.credentialError .error {
    display: block;
    position: absolute;
    width: 50%;
    margin: 0;
    border: 0;
    top: 50%;
    left: 0;
    padding: 1px 2px; }
  .credentialStatus.credentialReady .releaseButton {
    display: block; }
  .credentialStatus.credentialReady .picture {
    background: #12aa40; }
  .credentialStatus.credentialReady .status {
    color: #00c437; }
  .credentialStatus.credentialNotReady {
    cursor: pointer;
    /* clickable to log in */ }
    .credentialStatus.credentialNotReady .picture {
      background: #dbdbdb; }
    .credentialStatus.credentialNotReady .status {
      color: #808080;
      font-style: italic;
      margin-top: 0.5em; }
    .credentialStatus.credentialNotReady:hover .status {
      color: #333333; }
  .credentialStatus.google .slotIcon {
    background: url("img/glyphs.png") rgba(0, 0, 0, 0) no-repeat -175px -73px; }
