.keyringPane {
    /* background: #2a2a2a; */
    background: #333;
    border: 1px solid #868686;
    border-top-width: 0;

    width: 232px;

    padding: 5px 5px 0 5px;

    font-size: 14px;

    .emptyMessage {
        display: none;
        color: white;
        text-align: center;
        font-style: italic;
        padding: 0.3em 0;
    }

    &.empty {
        .emptyMessage {
            display: block;
        }
    }
}


.credentialStatus {
    background: white;
    position: relative;
    border: 1px solid #acacac;
    height: 57px;

    margin-bottom: 5px;

    overflow: hidden;

    .releaseButton {
        position: absolute;
        top: 2px;
        right: 2px;

        display: none;

        height: 11px;
        width: 10px;
        color: #808080;

        font-family: Arial, sans-serif;
        font-size: 15px;

        cursor: pointer;
    }

    .slotIcon {
        height: 16px;
        width: 16px;
        float: left;
        margin-right: 3px;
        background: transparent;
    }

    .picture, .label {
        float: left;
    }
    .label {
        width: 70%;
        margin-top: 4px;
    }
    .picture, .label, .status, .message {
        background: transparent;
        border: none;
    }
    .error, .message {
        font-size: 10px;
    }
    .message {
        color: #333;
        display: none;
    }
    .error {
        display: none;
        padding: 0;
    }
    .picture {
        height: 49px;
        width: 49px;
        margin: 4px;
    }
    .displayedData {
        color: #333;
        float: left;
    }
    .slotType {
        position: absolute;
        bottom: 0;
        right: 0;

        padding: 4px;

        font-weight: bold;
        color: #666;
    }

    &.credentialError {
        .error {
            display: block;
            position: absolute;
            width: 50%;
            margin: 0 2px;
        }
    }

    &.credentialReady {
        .releaseButton {
            display: block;
        }
        .picture {
            background: #12aa40;
        }
        .status {
            color: #00c437;
        }
    }

    &.credentialNotReady {
        cursor: pointer; /* clickable to log in */

        .picture {
            background: #dbdbdb;
        }
        .status {
            color: #808080;
            font-style: italic;
            margin-top: 0.5em;
        }

        &:hover {
            .status { color: #333 }
        }
    }

    &.google {
        .slotIcon {
            background: url("img/glyphs.png") rgba(0, 0, 0, 0) no-repeat -175px -73px;
        }
    }
}

