.credentialStatus {
  background: white;
  position: relative;
  border: 1px solid #acacac; }
  .credentialStatus .releaseButton {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    height: 11px;
    width: 10px;
    background: red; }
  .credentialStatus .icon, .credentialStatus .displayedData, .credentialStatus .actionLabel {
    float: left; }
  .credentialStatus .icon {
    height: 49px;
    width: 49px; }
  .credentialStatus .displayedData {
    color: #333;
    float: left; }
  .credentialStatus .slotName {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-weight: bold;
    color: #666; }
  .credentialStatus.credentialStatusReady .icon {
    background: #12aa40; }
  .credentialStatus.credentialStatusReady .actionLabel {
    color: #00c437; }
