.keyringPane {
    /* background: #2a2a2a; */
    background: #333;
    border: 1px solid #868686;
    border-top-width: 0;

    width: 232px;

    padding: 5px 5px 0 5px;

    font-size: 14px;
}

.credentialStatus {
    background: white;
    position: relative;
    border: 1px solid #acacac;
    height: 57px;

    margin-bottom: 5px;

    .releaseButton {
        position: absolute;
        top: 2px;
        right: 2px;

        display: none;

        height: 11px;
        width: 10px;
        color: #808080;
    }

    .icon, .label {
        float: left;
    }
    .label {
        width: 70%;
    }
    .icon, .label, .status, .message {
        background: transparent;
        border: none;
    }
    .status, .icon { /* clickable */
        cursor: pointer;
    }
    .icon {
        height: 49px;
        width: 49px;
        margin: 4px;
    }
    .displayedData {
        color: #333;
        float: left;
    }
    .slotName {
        position: absolute;
        bottom: 4px;
        right: 4px;

        font-weight: bold;
        color: #666;
    }

    &.credentialReady {
        .releaseButton {
            display: block;
        }
        .icon {
            background: #12aa40;
        }
        .status {
            color: #00c437;
        }
    }

    &.credentialNotReady {
        .icon {
            background: #666;
        }
        .status {
            color: #808080;
            font-style: italic;
            margin-top: 0.5em;
        }
    }
}

