/* main application CSS styles */
@import url("../../src/dijit/themes/tundra/tundra.css");
@import url("../../src/dojo/resources/dojo.css");
@import url("browser.css");
@import url("regionbrowser.css");
@import url("sequence.css");
@import url("menubar.css");
@import url("icons.css");
@import url("file_dialog.css");
@import url("combination_tracks.css");
@import url("export_dialog.css");
@import url("keyring.css");
@import url("prompt_dialog.css");
@import url("send-to.css");

/* CSS styles for the various types of feature glyphs */
@import url("track_styles.css");
@import url("faceted_track_selector.css");


/* CSS styles specifically for MAKER output */
@import url("maker.css");
