/* styles for the top menu bar */
.jbrowse div.menuBar {
    padding: 1px 0;
    height: 25px;
    overflow: hidden;
}
.jbrowse div.topLink {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    background: white;
    border: 1px solid #888;
    border-width: 0 0 1px 1px;
}
.jbrowse div.menuBar a, .topLink a {
    padding: 0 0.8ex;
    text-decoration: none;
}
.jbrowse .menuBar .powered_by {
    float: left;
    font-size: 125%;
    font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: bold;
    line-height: 25px; /* note this line-height should be the same as the fixed height of the menuBar */
    cursor: pointer;
}

.jbrowse .menuBarControl .icon {
    height: 8px;
    width: 19px;
    display: inline;
    display: inline-block;
    background: url("img/glyphs.png") no-repeat -149px -91px;
    margin-right: 2px;
    margin-top: -2px;
}
.jbrowse a.topLink, a.topLink * {
    cursor: pointer;
}
.jbrowse .topLink .powered_by {
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}
.jbrowse .menuBar * {
    outline: none;
}
.jbrowse .menuBar .dijitButtonNode {
    padding: 0 1em;
}

.jbrowse .menuBar .dijitButtonNode * {
    color: white;
}
.menuBar .config .icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-top: -2px;
    display: inline;
    display: inline-block;
    background: url("img/glyphs.png") no-repeat -168px -27px;
}

/* dataset selector */
.jbrowse .menuBar > .menu, .menuBar > .dataset_select {
    float: left;
    font-size: 120%;
    color: white;
}
.jbrowse .menuBar > .dataset_select {
    margin: 1px 0 0 1px;
    font-weight: bold;
    height: 100%;
    background: transparent;
    border: none;
}
.jbrowse .menuBar > .dataset_select .dijitSelectLabel {
    padding: 0 0.5em;
}
.jbrowse .menuBar > .dataset_select.dijitSelectHover td {
    color: white;
}
.jbrowse .menuBar > .dataset_select .dijitButtonContents {
    background: transparent;
    border-color: transparent;
}
.jbrowse .menuBar > .dataset_select .dijitArrowButtonInner {
    background: url("../../img/spriteArrows.png") no-repeat scroll -56px center;
}

/** base colors */

.jbrowse .menuBar {
    background: #396494;
    text-align: right;
}
.jbrowse .menuBar a {
    color: white;
}
.jbrowse .menuBar .dijitButtonNode {
    background: transparent;
}

.jbrowse .menuBar .dijitButtonNode {
    border: 2px outset rgba( 120, 120, 120, 0.2 );
}
.jbrowse .menuBar .dijitButtonHover .dijitButtonNode,
.jbrowse .menuBar .dijitDropDownButtonHover .dijitButtonNode {
    background: rgba( 255, 255, 255, 0.07 );
}
.jbrowse .menuBar .dijitButtonActive .dijitButtonNode,
.jbrowse .menuBar .dijitDropDownButtonActive .dijitButtonNode {
    border: 2px inset rgba( 120, 120, 120, 0.2 );
}
.jbrowse .menuBar .config .icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-top: -2px;
    display: inline;
    display: inline-block;
    background: url("img/glyphs.png") no-repeat -168px -27px;
}

.jbrowse .globalMenu .dijitMenuItem td {
    padding: 0.5em 2px 0.5em 5px;
}

.jbrowse .menuBar > .menu .dijitButtonNode {
    border: none;
}
.jbrowse .menuBar > .dijitDropDownButton,
.jbrowse .menuBar > .dijitButton,
.jbrowse .menuBar > .dijitDropDownButton *,
.jbrowse .menuBar > .dijitButton * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 25px;
}
.jbrowse .menuBar > .menu.dijitDropDownButton .dijitButtonNode {
    padding: 0 1em 0 0.7em;
    text-align: left;
}
.jbrowse .menuBar > .menu .dijitDropDownButtonHover .dijitButtonNode {
    background: rgba( 255, 255, 255, 0.07 );
}
.jbrowse .menuBar > .menu .dijitDropDownButtonActive .dijitButtonNode {
    border: none;
}
