.jbrowse .send-to .select .dijitSelect {
  min-height: 2em;
  width: 100%; }
  .jbrowse .send-to .select .dijitSelect .dijitButtonContents {
    padding: 0 0.6em; }
  .jbrowse .send-to .select .dijitSelect td.dijitArrowButton {
    width: 16px; }
.jbrowse .send-to .controls {
  padding: 0.5em;
  border: 1px solid #e2e2e2; }
  .jbrowse .send-to .controls label {
    display: block; }
  .jbrowse .send-to .controls .default label span.text {
    font-weight: bold; }
  .jbrowse .send-to .controls .default .dijitTextBox {
    width: 60%; }
