/* floating score display for wiggle tracks */
.wiggleValueDisplay {
    background: #FFFEF0;
    border: 1px solid #aaa;
    padding: 2px;
    font-family: Courier New, monospace;
    font-weight: bold;
    cursor: default;

    -moz-box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
    -webkit-box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
    box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
}
.wiggleValueDisplay table {
    border-spacing: 0;
}
.wiggleValueDisplay td {
    padding: 0.2em 0.4em;
}
.wiggleValueDisplay td.count, .wiggleValueDisplay td.pct  {
    text-align: right;
}
.wiggleValueDisplay tr.total > td {
    border-top: 1px solid #aaa;
    font-weight: bold;
}

.wigglePositionIndicator {
    background: #333;
    border: none;
    width: 1px;
    cursor: default;
}

.featureTooltip {
    background: #FFFEF0;
    border: 1px solid #aaa;
    padding: 2px;
    font-family: Courier New, monospace;
    font-weight: bold;
    cursor: default;

    -moz-box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
    -webkit-box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
    box-shadow: 4px 4px 10px 2px rgba( 80, 80, 80, 0.3 );
}