.scraperBox .buttonContainer {
    text-align: right;
    margin-top: 1em;
    margin-right: 10%;
}

.scraperBox table {
    margin: 0px auto;
}

.scraperBox table td:first-child {
    padding-right: 1em;
}