
.tundra .dijitAccordionPane {
	background-color: #e7e7e7;
}
.tundra .dijitAccordionTitle {
	background:#fafafa url("../images/titleBar.png") repeat-x bottom left;
	border-top: 1px solid #bfbfbf;
	padding: 6px 4px 6px 8px;
	cursor:pointer;
}
.tundra .dijitAccordionTitle-selected  {
	background: #f9f9f9 url("../images/accordionItemActive.gif") bottom repeat-x;
	font-weight: bold;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #bfbfbf;
	padding: 6px 4px 6px 8px;
	cursor: default;
}
.tundra .dijitAccordionArrow {
	background:url("../images/plusButton.gif") no-repeat;
	width:15px;
	height:15px;
	margin-top:2px;
}
.tundra .dijitAccordionTitle-selected .dijitAccordionArrow {
	background:none;
	margin-top:2px;
}
.tundra .dijitAccordionBody {
	background: #fff;
}
