
body {
	background:#fff url("../images/testsBodyBg.gif") repeat-x top left;
	padding:2em 2em 2em 2em;
}
h1.testTitle {
	font-size:2em;
	margin:0 0 1em 0;
}
.plusIcon, .plusBlockIcon {
	background-image: url(../images/plus.gif);
	background-repeat: no-repeat; 
	width: 16px;
	height: 16px;
}
.plusBlockIcon {
	display: block !important;
}
.noteIcon {
	background-image: url(../images/note.gif);
	background-repeat: no-repeat; 
	width: 20px;
	height: 20px;
}
.flatScreenIcon {
	background-image: url(../images/flatScreen.gif);
	background-repeat: no-repeat; 
	width: 32px;
	height: 32px;
}
.dijitTestNodeDialog {
	position:absolute;
	top:5px;
	right:5px;
	display:block;
	width:200px;
	visibility:hidden;
	background-color:#fff !important;
	color:#000 !important; 
	border:1px solid #000;
	padding:5px; 
}
.dijitTestNodeDialog table {
	background-color:#fff !important;
}
.dijitTestNodeDialog td {
	padding:3px; 
}
.dijitTestNodeShowing {
	visibility:visible; 
}
.customFolderOpenedIcon, .customFolderClosedIcon {
	background-image: url('../../demos/mail/icons.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	text-align: center;
	padding-right:4px;
    background-position: -44px;
}
.dj_ie6 .customFolderOpenedIcon, .dj_ie6 .customFolderClosedIcon {
	background-image: url('../../demos/mail/icons.gif');
}
.customFolderClosedIcon {
    background-position: -154px;
}
body .medium {
        font-size: larger; 
}
