/* styles for the top menu bar */
div.menuBar {
    padding: 1px 0;
    height: 25px;
}
div.topLink {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    background: white;
    border: 1px solid #888;
    border-width: 0 0 1px 1px;
}
div.menuBar a, .topLink a {
    padding: 0 0.8ex;
    text-decoration: none;
}
.menuBar .powered_by {
    float: left;
    font-size: 125%;
    font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: bold;
    line-height: 25px; /* note this line-height should be the same as the fixed height of the menuBar */
    cursor: pointer;
}

.share .icon {
    height: 8px;
    width: 19px;
    display: inline;
    display: inline-block;
    background: url("../../img/glyphs_white.png") no-repeat -149px -91px;
    margin-right: 2px;
    margin-top: -2px;
}
a.topLink, a.topLink * {
    cursor: pointer;
}
.topLink .powered_by {
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}
.menuBar * {
    outline: none;
}
.menuBar .dijitButtonNode {
    padding: 0 1em;
}

.menuBar .dijitButtonNode * {
    color: white;
}
.menuBar .config .icon {
    height: 16px;
    width: 16px;
    margin-right: 2px;
    margin-top: -2px;
    display: inline;
    display: inline-block;
    background: url("../../img/glyphs_white.png") no-repeat -168px -27px;
}

/* dataset selector */
.menuBar > .menu, .menuBar > .dataset_select {
    float: left;
    font-size: 120%;
    color: white;
}
.menuBar > .dataset_select {
    margin: 1px 0 0 1px;
    font-weight: bold;
    height: 100%;
    background: transparent;
    border: none;
}
.menuBar > .dataset_select .dijitSelectLabel {
    padding: 0 0.5em;
}
.menuBar > .dataset_select.dijitSelectHover td {
    color: white;
}
.menuBar > .dataset_select .dijitButtonContents {
    background: transparent;
    border-color: transparent;
}
.menuBar > .dataset_select .dijitArrowButtonInner {
    background: url("../../img/spriteArrows.png") no-repeat scroll -56px center;
}

