<div class="fatal_error">
  <h1>Congratulations, JBrowse is on the web!</h1>
  <p>
    However, JBrowse could not start, either because it has not yet been
    configured and loaded with data, or because of an error.
  </p>
  <p style="font-size: 110%; font-weight: bold">
    If this is your first time running JBrowse,
    <a title="View the tutorial" href="docs/tutorial/" target="_blank"
      >click here to follow the Quick-start Tutorial to show your data in
      JBrowse.</a
    >
  </p>
  <p id="volvox_data_placeholder"></p>
  <p>
    Otherwise, please refer to the following resources for help in setting up
    JBrowse to show your data.
  </p>
  <ul>
    <li>
      <a target="_blank" href="docs/tutorial/">Quick-start tutorial</a> - get
      your data visible quickly with minimum fuss
    </li>
    <li>
      <a target="_blank" href="http://gmod.org/wiki/JBrowse_Configuration_Guide"
        >JBrowse Configuration Guide</a
      >
      - a comprehensive reference
    </li>
    <li>
      <a target="_blank" href="http://gmod.org/wiki/JBrowse"
        >JBrowse wiki main page</a
      >
    </li>
    <li>
      <a target="_blank" href="docs/config.html"
        ><code>biodb-to-json.pl</code> configuration reference</a
      >
    </li>
    <li>
      <a target="_blank" href="docs/featureglyphs.html"
        >HTMLFeatures CSS class reference</a
      >
      - prepackaged styles (CSS classes) for HTMLFeatures tracks
    </li>
  </ul>
  <div id="fatal_error_list" class="errors"><h2>Error message(s):</h2></div>
</div>
