<div id="welcome_screen" class="jbrowse" style="padding: 30px">
    <img src="img/JBrowseLogo.png" width=300></img>
    <p id="welcome"></p>

    <div id="volvox_data_placeholder"></div>


    <div style="padding:20px;">
        <div id="newOpen" class="welcome_button">Open sequence file</div>
        <div id="newOpenDirectory" class="welcome_button">Open data directory</div>
    </div>

    <div id="previousSessions" style="padding: 10px; height: 300px; overflow: auto; border: 1px solid black;">
        <p>Saved sessions</p>
    </div>
    <div id="fatal_error_list" style="padding: 20px;"></div>
</div>
