.tundra .dijitTitlePane .dijitTitlePaneTitle {
	background: #cccccc;
	background:#fff url("images/titleBar.png") repeat-x bottom left;
	border:1px solid #bfbfbf;
	padding:4px 4px 2px 4px;
	cursor: pointer;
}
.tundra .dijitTitlePane .dijitArrowNode {
	width:16px;
	height:16px;
	float:right;
}
.tundra .dijitTitlePane .dijitClosed .dijitArrowNode {
	background:url('images/arrowRight.png') no-repeat center center;
}
.tundra .dijitTitlePaneFocused .dijitTitlePaneTextNode {
	text-decoration:underline;
}
.dj_ie6 .tundra .dijitTitlePane .dijitClosed .dijitArrowNode {
	background-image:url('images/arrowRight.gif');
}
.tundra .dijitTitlePane .dijitOpen .dijitArrowNode {
	background:url('images/arrowDown.png') no-repeat center center;
}
.dj_ie6 .tundra .dijitTitlePane .dijitOpen .dijitArrowNode {
	background-image:url('images/arrowDown.gif');
}
.tundra .dijitTitlePane .dijitArrowNodeInner {
	visibility:hidden;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	visibility:visible;
}
.tundra .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	margin-right:5px;
}
.tundra .dijitOpen .dijitTitlePaneTitle .dijitOpenCloseArrowOuter {
	position:relative;
	top:2px;
}
.tundra .dijitTitlePaneContentOuter {
	background: #ffffff;
	border:1px solid #bfbfbf;
	border-top: 1px solid #ccc;	
}
.tundra .dijitTitlePaneContentInner {
	padding:10px;
}
.dj_ie6 .tundra .dijitTitlePaneContentOuter,
.dj_ie6 .tundra .dijitTitlePane .dijitTitlePaneTitle {
	zoom: 1;
}
.tundra .dijitClickableRegion {
	background-color : #ffc !important;
}
