<div class="dijitDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
	<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title">${title}</span>
	<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="onclick: onCancel">
		<span dojoAttachPoint="closeText" class="closeText">x</span>
	</span>
	</div>
		<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent"></div>
</div>
