<div class="${baseClass}">
	<div dojoAttachEvent="onclick:toggle,onkeypress: _onTitleKey,onfocus:_handleFocus,onblur:_handleFocus" tabindex="0"
			waiRole="button" class="dijitTitlePaneTitle" dojoAttachPoint="titleBarNode,focusNode">
		<div dojoAttachPoint="arrowNode" class="dijitInline dijitArrowNode"><span dojoAttachPoint="arrowNodeInner" class="dijitArrowNodeInner"></span></div>
		<div dojoAttachPoint="titleNode" class="dijitTitlePaneTextNode"></div>
	</div>
	<div class="dijitTitlePaneContentOuter" dojoAttachPoint="hideNode">
		<div class="dijitReset" dojoAttachPoint="wipeNode">
			<div class="dijitTitlePaneContentInner" dojoAttachPoint="containerNode" waiRole="region" tabindex="-1">
				<!-- nested divs because wipeIn()/wipeOut() doesn't work right on node w/padding etc.  Put padding on inner div. -->
			</div>
		</div>
	</div>
</div>
