/*==================================================
 * Browse Panel styles
 *==================================================
 */
div.exhibit-browsePanel {
}

div.exhibit-browsePanel-notConfigureMessage {
    border:     1px solid #604800;
    padding:    1em;
    background: #FFFFE0;
    text-align: center;
}

div.exhibit-browsePanel-logoContainer {
    text-align: center;
    margin:     1em;
    clear:      both;
}

