body {
    font-family: Univers,Trebuchet MS,Helvetica,Arial,sans-serif;
    color: #333;
}

b { color: black }
h1, h2, h3, h4 {
    border-bottom: 1px solid #ccc;
    color: #222;
    letter-spacing: 1px;
}
h2 {
    margin-top: 2em;
}

table {
    border: 1px solid #777;
    border-collapse: collapse;
}

td { border: 1px solid #777; padding: 0.3em }

th { border: 1px solid #777; }

p.done {
    background: #57E065;
    border-radius: 4px;
    border: 1px solid rgb(48, 143, 57);
    padding: 2em;
    margin-top: 3em;
}

code, .code {
    font-family: monospace;
    color: black;
}
code, span.code {
    font-size: 115%;
    white-space: nowrap;
}

a[href], a[href] .code, a[href] code {
    color: #33b;
}

div.code {
    background: #eee;
    margin: 1em 1.5em 1em 1.5em;
    padding: 1em 2em;
    overflow: auto;
    font-size: 110%;
}
dd > div.code {
    margin-left: 0;
}

span.code {
    background: #f8f8f8;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

div.code, div.system-specific, div.sidebar {
    border-radius: 4px;
    border: 1px solid #bbb;
}

div.container {
    padding-left: 4em;
    padding-right: 4em;
    max-width: 45em;
}

div.sidebar {
    background-color: white;
    border: 3px solid #f9a21b;
    float:right;
    font-weight:normal;
    margin: 2px -4em 2px 1em;
    max-width:30%;
    padding:5px 2px 5px 0.5em;
}

.system-specific {
    background-color: #DDDDFF;
    padding: 0.5em;
    margin: 2em 0;
}
.system-specific dl {
    margin-left: 1em;
}

dl { margin-left: 1em  }
dt { font-weight: bold }
