.tundra .dijitSliderProgressBarH {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.tundra .dijitSliderProgressBarV {
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.tundra .dijitSliderFocused .dijitSliderProgressBarH,
.tundra .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}
.tundra .dijitSliderFocused .dijitSliderProgressBarV,
.tundra .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}
.tundra .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}
.tundra .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}
.tundra .dijitSliderBar {
	border-style: solid;
	outline:1px;
}
.tundra .dijitSliderFocused .dijitSliderBar {
	border-color:#333;	
}
.dijit_a11y .dijitSliderProgressBar {
	background-color:#333 !important;
}
.tundra .dijitSliderImageHandleH {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
	cursor:pointer;
}
.tundra .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}
.dj_ie6 .tundra .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}
.tundra .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}
.tundra .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}
.tundra .dijitSliderImageHandleV {
	border:0px;
	width:16px;
	height:16px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	cursor:pointer;
}
.tundra .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
}
.dj_ie6 .tundra .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.gif");
}
.tundra .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}
.tundra .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}
.tundra .dijitSliderIncrementIconH,
.tundra .dijitSliderIncrementIconV {
	background:url('../images/arrowUp.png') no-repeat center center;
	width:16px; height:16px;
	cursor:pointer;
}
.tundra .dijitSliderIncrementIconH {
	background-image:url('../images/arrowRight.png');
}
.tundra .dijitSliderDecrementIconH,
.tundra .dijitSliderDecrementIconV {
	width:16px;
	height:16px;
	cursor:pointer;
	background:url('../images/arrowDown.png') no-repeat center center;
}
.tundra .dijitSliderDecrementIconH { background-image:url('../images/arrowLeft.png'); }
.tundra .dijitSliderButtonInner {
	visibility:hidden;
}
.tundra .dijitSliderDisabled {
	opacity:0.6 !important;
}
.dj_ie6 .tundra .dijitSliderDisabled,
.dj_ie6 .tundra .dijitSliderDisabled .dijitRuleContainer,
.dj_ie6 .tundra .dijitSliderDisabled .dijitSliderRemainingBar,
.dj_ie6 .tundra .dijitSliderDisabled .dijitSliderProgressBar {
	filter: gray() alpha(opacity=40);
}
.tundra .dijitSliderDisabled * {
	cursor: not-allowed !important;
}
