/* TabContainer */

.dijitRtl .dijitTab {
	margin-right:0;
	margin-left:3px;		/* space between one tab and the next in top/bottom mode */
}

.dijitRtl .dijitTab .dijitTabInnerDiv {
	border-left:none;
}

.dijitRtl .dijitTab .dijitClosable {
	padding: 0 10px 0 20px;
}

.dijitRtl .dijitTab .closeImage {
	position:static;
}

.dj_gecko .dijitTab .closeImage {
	position:relative;
	float:none;
	padding:0;
}

.dijitRtl .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
	background-position: -60px top;
}

.dj_ie .dijitRtl .dijitTab .dijitClosable .closeImage {
	width:12px !important;
}

.dijitRtl .dijitAlignLeft .dijitTab,
.dijitRtl .dijitAlignRight .dijitTab {
	margin-left:0px;
}

.dijitRtl .dijitAlignBottom .dijitTab { 
	margin-right:0;
	margin-left:3px;		/* space between one tab and the next in top/bottom mode */	
}

.dijitRtl .dijitAlignBottom .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}

.dijitRtl .dijitAlignRight .dijitTab .dijitTabInnerDiv {
	padding-left:10px;
	padding-right:20px;
}

.dijitRtl .dijitAlignLeft .dijitTab .dijitTabInnerDiv {
	padding-left:20px;
	padding-right:10px;
}

.dijitRtl .dijitAlignRight .dijitTab .dijitClosable .closeImage {
	left:auto;
	right:3px;
}

.dijitRtl .dijitAlignLeft .dijitTab .dijitClosable .closeImage {
	right:auto;
	left:3px;
}
