.nihilo .dijitTextBox {
	margin: 0em 0.1em;
}

.nihilo .dijitTextBox,
.nihilo .dijitTextArea {
	/* 	For all except dijit.form.NumberSpinner:  the actual input element.
		For TextBox, ComboBox, Spinner: the table that contains the input.
		Otherwise the actual input element.
	*/
	background:#fff url("../images/validationInputBg.png") repeat-x top left;
	#background:#fff url('../images/validationInputBg.gif') repeat-x top left;
	border:1px solid #c4c4c4;
	line-height: normal;
}
